.container {
    max-width: 800px;
    margin: 0 auto; /* 컨테이너 가운데 정렬 */
}
.event-image {
    text-align: center; /* 이미지 가운데 정렬 */
}

.event-image img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto; /* 이미지 가운데 정렬 */
}

.event-details {
    padding: 30px 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    margin: 30px;
}

.event-details h2 {
    color: #212529;
    font-size: 30px;
    margin-bottom: 30px;
    border-bottom: 2px solid #ddd;
    padding-bottom: 15px;
    margin-top: 20px;
}

.event-details p {
    font-size: 18px;
    line-height: 1.8;
    color: #555;
    margin-bottom: 20px;
    margin-top: 10px;
}

.event-info {
    margin-bottom: 35px;
}

.event-info h3 {
    font-size: 18px;
    color: #212529;
    margin-bottom: 20px;
}

.event-info .info-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    font-size: 16px;
    color: #495057;
}

.info-item i {
    color: rgb(193, 192, 255);
    margin-right: 12px;
    font-size: 16px;
}

form {
    display: inline-block; /* 수정/삭제 버튼 나란히 배치 */
    margin: 10px;
}

.mt-4 {
    display: flex;
    justify-content: flex-end; /* 버튼 오른쪽 정렬 */
}

.btn {
    padding: 10px 30px;
    font-size: 16px;
    border-radius: 10px;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out;
    margin-right: 5px; /* 버튼 간 간격 추가 */
}

.btn-edit {
    background-color: #212529;
    color: white;
}

.btn-edit:hover {
    background-color: #333;
    color: white;
}

.btn-delete {
    background-color: rgb(193, 192, 255);
    color: white;
}

.btn-delete:hover {
    background-color: rgb(173, 172, 225);
}

