/* 페이지 전체 너비 제한 */
.container {
    max-width: 1100px;
    margin: 0 auto;
}

/* 배너 스타일링 */
.banner {
    background-image: url('event-banner.jpg');
    background-size: cover;
    background-position: center;
    height: 350px;
    position: relative;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
}

/* 배너의 제목 스타일링 */
.banner h2 {
    font-size: 40px;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px 30px;
    border-radius: 10px;
}

/* 이벤트 컨테이너와 배너 간의 간격 설정 */
.container.mt-5 {
    margin-top: 20px; /* 배너와의 간격 */
}

/* 카드 이미지의 크기 및 비율 */
.card-img-top {
    height: 200px;
    object-fit: cover;
}

/* 카드 링크에 대한 스타일링 */
.card-link {
    text-decoration: none;
    color: inherit;
}

.card-link:hover .card {
    transform: scale(1.05);
    transition: transform 0.3s;
}

/* 카드에 그림자 추가 */
.card {
    transition: box-shadow 0.3s, transform 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* 카드의 텍스트 스타일링 */
.card-body {
    padding: 20px;
}

.card-title {
    font-size: 18px;
    margin-bottom: 10px;
}

.card-text {
    font-size: 16px;
    color: #555;
}

/* 이벤트 등록 버튼 스타일링 */
.d-flex a {
    padding: 10px 20px;
    font-size: 16px;
    background-color: rgb(193, 192, 255);
    border-color: rgb(193, 192, 255);
    border-radius: 5px;
    text-decoration: none;
    color: white;
    transition: background-color 0.3s ease-in-out;
}

.d-flex a:hover {
    background-color: rgba(193, 192, 255, 0.5);
    border: solid 1px rgba(193, 192, 255, 0.5);
    color: white;
}

/* 반응형 설정 */
@media (max-width: 767px) {
    .card-img-top {
        height: 150px;
    }
}
