/* 페이지 전체 너비 제한 */
.container {
    max-width: 1100px;
    margin: 0 auto;
}

/* 카드 이미지의 크기 및 비율 */
.card-img-top {
    height: 200px;
    object-fit: cover;
}

/* 카드 링크에 대한 스타일링 (밑줄 제거) */
.card-link {
    text-decoration: none !important;
    color: inherit;
}

a {
    text-decoration: none !important;
}

.card-link:hover .card {
    transform: scale(1.05);
    transition: transform 0.3s;
}

/* 카드에 그림자 추가 */
.card {
    transition: box-shadow 0.3s, transform 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-decoration: none !important;
}

.card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* 수정, 삭제 버튼 색상 변경 및 hover 기능 추가 */
.btn-primary {
    background-color: #212529; /* 수정 버튼 색상 */
    border-color: #212529;
    color: white;
}

.btn-primary:hover {
    background-color: #333; /* hover 시 색상 */
    border-color: #333;
    color: white;
}

.btn-danger {
    background-color: rgb(193, 192, 255); /* 삭제 버튼 색상 */
    border-color: rgb(193, 192, 255);
    color: white;
}

.btn-danger:hover {
    background-color: rgba(193, 192, 255, 0.8); /* hover 시 색상 */
    border-color: rgba(193, 192, 255, 0.8);
    color: white;
}

/* 등록 버튼에 색상 추가 */
.d-flex .btn {
    background-color:  #212529; /* 등록 버튼 색상 */
    border-color: #212529;
    color: white;
}

.d-flex .btn:hover {
    background-color: rgba(193, 192, 255); /* hover 시 등록 버튼 색상 */
    border-color: rgba(193, 192, 255);
    color: white;
}

/* 게시된 이벤트와 임시 저장된 이벤트 사이 간격 설정 */
h2 {
    margin-top: 50px; /* 임시 저장된 이벤트 제목 위에 간격 추가 */
}

.expired {
    opacity: 0.5; /* 불투명도 설정 */
    pointer-events: none; /* 클릭 방지 */
}

.expired-message {
    color: #ff69b4;
    font-weight: bold; /* 글꼴 두껍게 */
    font-size: 45px;
    text-align: center; /* 텍스트 가운데 정렬 */
}
