/* 공통 색상 변수 */
:root {
    --primary-color: rgb(193, 192, 255);
    --primary-hover-color: rgba(193, 192, 255, 0.8);
    --primary-box-shadow: rgba(193, 192, 255, 0.5);
    --secondary-color: rgba(193, 192, 255, 0.2); /* Secondary 버튼 배경색 추가 */
}

.container {
    max-width: 1100px;
    padding: 30px;
    background-color: white;
    border: 1px solid var(--primary-color);
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    margin: 20px auto;
}

.container h2 {
    font-size: 28px;
    text-align: center;
    margin-bottom: 30px;
    color: var(--primary-color);
    font-weight: 700;
}

.form-group {
    margin-bottom: 20px;
}

label {
    font-size: 16px;
    margin-bottom: 8px;
    display: block;
    color: var(--primary-color);
    font-weight: 600;
}

.form-control,
textarea,
input[type="date"] {
    width: 100%;
    padding: 12px;
    border: 1px solid var(--primary-color);
    border-radius: 8px;
    font-size: 14px;
    transition: box-shadow 0.3s ease-in-out;
}

.form-control:focus,
textarea:focus,
input[type="date"]:focus {
    box-shadow: 0 0 8px var(--primary-box-shadow);
    outline: none;
}

textarea {
    min-height: 240px; /* 최소 높이 설정 */
    resize: vertical;
}

.btn-group {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    margin-top: 20px;
}

.btn-primary {
    padding: 10px 20px;
    font-size: 14px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    background-color: var(--primary-color);
    color: white;
    font-weight: 600;
    transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.btn-primary:hover {
    background-color: var(--primary-hover-color);
    box-shadow: 0 4px 10px var(--primary-box-shadow);
}

/* Secondary 버튼 스타일 (목록보기 및 임시저장 버튼 동일) */
.btn-secondary {
    padding: 10px 20px;
    font-size: 14px;
    border: 1px solid var(--primary-color);
    cursor: pointer;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    text-decoration: none;
    transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.btn-secondary:hover {
    background-color: rgba(193, 192, 255, 0.1);
    color:black;
    box-shadow: 0 4px 10px var(--primary-box-shadow);
}
