@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');

body {
    font-family: 'NanumSquare', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

.container {
    max-width: 1100px;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 40px auto;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 24px;
    font-weight: bold;
}

.table {
    width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse;
}

.table th,
.table td {
    padding: 15px;
    border-top: 1px solid #dee2e6;
}

.table th {
    background-color: white;
    font-weight: bold;
}

.table td {
    background-color: white;
    vertical-align: top;
}

.table .content-row {
    display: none;
}

.toggle-row {
    font-weight: bold;
    font-size: 17px;
    cursor: pointer;
    background-color: white;
}

.active-toggle {
    background-color: rgb(193, 192, 255);
    color: white;
}

.table .content-row td {
    background-color: white;
    font-weight: bold;
    color: black;
    font-size: 14px;
    line-height: 1.5;
    padding: 20px;
    text-align: left;
}

.buttons {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 20px;
}

.buttons button {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.buttons button:hover {
    background-color: #333;
}

/* Custom styles for pagination */
.pagination .page-link {
    color: black;
}

.pagination .page-item.active .page-link {
    background-color: black;
    border-color: black;
    color: white;
}