@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');

* {
    font-family: 'NanumSquare', sans-serif;
    margin: 0px;
    padding: 0px;
}
header{
    grid-area: header;
    border-bottom: 1px solid black;
}
footer{
    grid-area: footer;
    border-top: 1px solid black;
}
banner{
    display: grid;
    justify-content: center;
}
main{
    display: grid;
    justify-content: center;
}
.container{
    display: grid;
    grid-area: container;
    width: 1200px;
    margin-top: 10px;
    grid-template-columns: 200px 2fr;
    grid-column-gap: 10px;
    /* grid-template-rows: 100px, 2fr; */
    grid-template-areas:
    ". button-class"
    "sidebar portfolio"
    "sidebar content"
    "sidebar content";
    /* border: 1px solid black; */
}

/* sidebar */
.sidebar{
    grid-area: sidebar;
    text-align: center;
    padding: 10px;
    margin:10px;
    height: 400px;
    list-style-type: none;
    border: 2px solid whitesmoke;
    /* background-color: brown; */
}
.sidebar img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
    justify-content: center;
}
.sidebar .username {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}
.sidebar .profile-link {
    color: #007bff;
    text-decoration: none;
    font-size: 14px;
    margin-bottom: 20px;
    display: block;
}
.sidebar .edit-profile {
    background-color: white;
    padding: 10px 20px;
    border: 2px solid whitesmoke;
    border-radius: 5px;
    cursor: pointer;
}
.sidebar .activity {
    font-size: 14px;
    color: #555;
    margin-top: 20px;
}
.sidebar .activity span {
    display: block;
    margin: 5px 0;
}
.sidebar .section-title {
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 16px;
    color: #333;
}
/* sidebar 끝 */
.button-class{
    display: flex;
    grid-area: button-class;
    padding: 10px;
    justify-content: center;
    align-items: center;
    height: 50px;
    border: 1px solid black;
    /* background-color: aqua; */
}

.button-class .portfolio{
    margin-left: auto;
}
.button-class .upload{
    margin-left: auto;
}
/* button 끝 */

.tab-select {
    display: flex;
    font-size: 12px;
}

.tab-select input[type="radio"] {
    display: none; /* 라디오 버튼 숨기기 */
}

.tab-select label {
    background-color: #d6d6d6;
    padding: 7px;
    margin-left: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.tab-select input[type="radio"]:checked + label {
    background-color: black; /* 선택된 탭 강조 */
    color: white;
}


/* portfolio content 시작 */
.portfolio-header{
    grid-area: portfolio;
    margin-top: 20px;
}
.portfolio-content{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    /* width: 1100px; */
    grid-area: content;
    justify-content: start;
    align-content: start;
}

.portfolio-content .imagecard{
    border: 1px solid gainsboro;
    float: left;
    margin: 5px;
    /*margin-top: -20px;*/
    /*margin-left: 10px;*/
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.20);
    width: 180px;
    height: 256px;
}
.portfolio-content .imagecard:hover{
    transform: scale(1.05);
}
/* portfolio content 끝 */
.underline{
    text-decoration-line: none;
}

hr{
    border: 1px solid gainsboro;
}