banner{
    display: grid;
    justify-content: center;
}
main{
    display: grid;
    justify-content: center;
}
.container{
    display: grid;
    width: 1200px;  
    margin-top: 10px;
    grid-template-columns: 200px 2fr;
    grid-column-gap: 10px;
    grid-template-areas:
    ". button-class"
    "sidebar main-class"
    "sidebar management"
    "sidebar commition";
} 

/* sidebar */
.sidebar{
    grid-area: sidebar;
    text-align: center;
    padding: 10px;
    margin:10px;
    height: 400px;
    list-style-type: none;
    border: 1px solid whitesmoke;
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.20);
}
.sidebar img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
    justify-content: center;
}
.sidebar .username {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}
.sidebar .profile-link {
    color: #007bff;
    text-decoration: none;
    font-size: 14px;
    margin-bottom: 20px;
    display: block;
}
.sidebar .edit-profile {
    background-color: white;
    padding: 10px 20px;
    border: 2px solid whitesmoke;
    text-decoration-line: none;
    border-radius: 5px;
    cursor: pointer;
}
.sidebar .activity {
    font-size: 14px;
    color: #555;
    margin-top: 20px;
}
.sidebar .activity span {
    display: block;
    margin: 5px 0;
}
.sidebar .section-title {
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 16px;
    color: #333;
}
/* sidebar 끝 */



.underline{
    text-decoration-line: none;
}
/* main-class */
.main-class{
    grid-area: main-class;
    /* background-color: rebeccapurple; */
}
.main-class .profilewrite{
    float: right;
}
.profilewrite{
    text-decoration-line: none;
}
/* main-class 끝 */

/* button-class */
.button-class{
    display: flex;
    grid-area: button-class;
    padding: 10px;
    justify-content: center;
    align-items: center;
    height: 50px;
    border: 1px solid black;
    /* background-color: aqua; */
}

.button-class .portfolio{
    margin-left: auto;
}
.button-class .upload{
    margin-left: auto;
}
/* button-class 끝 */
.management{
    grid-area: management;
    /* border: 1px solid black; */
}
.commition{
    grid-area: commition;
    margin-top: 20px;
    /* border: 1px solid black; */
}
.commition1{
    height: 100px;
    margin: 10px; 
    /* padding: 10px; */
    /* background-color: brown; */
    overflow: auto;
    border: 2px solid whitesmoke;
}
.management .imagecard{
    display: flex;
    border: 1px solid gainsboro;
    float: left;
    margin: 5px;
    /* margin-left: 10px; */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.20);
    width: 180px;
    height: 256px;
}
.management .imagecard:hover{
    transform: scale(1.05);
}

hr{
    border: 1px solid gainsboro;
}