@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');

:root
{
    --main-color : #c1c0ff;
    --sub-color : #ECFCE4;
    --color-black : #000;
    --dark-gray : #757575;
    --line-gray: #D9D9D9;
    --color-white : #fff;
    
    --font-size-32 : 32px;
    --font-size-24 : 24px;
    --font-size-20 : 20px;
    --font-size-16 : 16px;
    --font-size-14 : 14px;
    --font-size-14 : 12px;

}

*
{
    font-family: 'NanumSquare';
}

/* header 영역 */
header
{
    height: 145px;
}

/* main 영역 */
main
{
    display: block;
}

.banner
{
    width: 100%;
    min-height: 292px;
    background-color: var(--dark-gray);
    position: relative;

}

/* banner 하위 영역에 대한 전체적인 틀을 잡아중 */
section
{
    display: flex;
    justify-content: center;
    position: relative;
    top: -25vh;
}

.mainWrap
{
    width: 1200px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-bottom: 90px;
    
}

/* portfolioWrap 영역 */
.portfolioWrap
{
    width: calc(70% - 15px);
    /* border: 1px solid var(--dark-gray); */
}

.portfolioMain
{
    width: 100%;
    height: 480px;
    background-color: var(--line-gray);
    border-radius: 6px;
    border: 1px solid var(--line-gray);
}

.description .title
{
    margin: 40px 0 20px 0;
    font-size: var(--font-size-20);
    font-weight: 800;
}

.description h5
{
    font-size: var(--font-size-16);
    font-weight: 900;
    /* margin-top: 40px; */
    margin-bottom: 20px;
}

.description
{
    border-bottom: 1px solid var(--line-gray);
    /* display: flex; */
    gap: 30px;
}

article
{
    margin-top: 20px;
}

article .content
{
    padding: 10px 15px 0 15px;
    line-height: 1.6; /* 줄 간격 조정 */
    white-space: pre-line; /* 줄바꿈과 연속 공백을 유지 */
    font-size: var(--font-size-14);
}

article .title
{
    font-size: var(--font-size-16);
    font-weight: 800;
    padding: 0;
}

/* aside 영역 */
aside
{
    width: calc(30% - 15px);
    display: block;
    /* margin-top: 40px; */
    padding: 5px 15px;
    background-color: var(--color-white);
    border: 1px solid var(--color-white);
    border-radius: 6px;
}

figure  .title
{
    margin: 40px 0 10px 0;
    font-size: var(--font-size-20);
    font-weight: 900;
    border-bottom: none;
}


/* 디자이너 정보 영역 */
.info
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user
{
    font-size: var(--font-size-16);
    font-weight: 700;
    &.more
    {
        cursor: pointer;
    }
}

.profileInfo
{
    /* display: none; */
    line-height: 1.6; /* 줄 간격 조정 */
    white-space: pre-line; /* 줄바꿈과 연속 공백을 유지 */
    font-size: var(--font-size-14);
}

/* 포토폴리오 목록 영역 */
.cardList
{
    display: flex;
    /* display: grid; */
    /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr; */
    /* width: 100%; */
    gap: 15px;
    margin-top: 20px;
}

.cardList .list
{
    height: 57px;
    width: 20%;
    background-color: var(--line-gray);
    border: 1px solid var(--line-gray);
    border-radius: 6px;
    cursor: pointer;
    &:last-of-type
    {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}


/* 채팅 버튼 */
/* aside button */
button
{
    margin-top: 20px;
    width: 100%;
    padding: 10px 20px;
    background: var(--line-gray);
    border: 1px solid var(--line-gray);
    border-radius: 6px;
    font-size: var(--font-size-16);
    &:hover
    {
        background-color: var(--main-color);
        border-color: var(--main-color);
    }
}


/* footer 영역 */
footer
{
    height: 322px;
    border-top: 1px solid var(--line-gray);
}