<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0.3//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.DOH.DOH.mapper.contest.ContestUploadMapper">
    <insert id="insertContest" parameterType="com.DOH.DOH.dto.contest.ContestUploadDTO">
        INSERT INTO contest_Upload (conCompanyName, conOneLiner, conType, conLogoName, conBriefing,
                                    conTitle,
                                    conFirstPrice, conSecondPrice, conThirdPrice,
                                    conFirstPeople, conSecondPeople, conThirdPeople,
                                    conStartDate, conEndDate)
        VALUES (#{conCompanyName}, #{conOneLiner}, #{conType}, #{conLogoName}, #{conBriefing},
                #{conTitle},
                #{conFirstPrice}, #{conSecondPrice}, #{conThirdPrice},
                #{conFirstPeople}, #{conSecondPeople}, #{conThirdPeople},
                #{conStartDate}, #{conEndDate})
    </insert>

    <!-- ID로 콘테스트 조회 -->
    <select id="selectContestById" parameterType="long" resultType="com.DOH.DOH.dto.contest.ContestUploadDTO">
        SELECT * FROM contest_Upload WHERE id = #{conNum}
    </select>

    <!-- 오늘 날짜로 주문 카운트 조회 -->
    <select id="findOrderCountByDate" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM orders
        WHERE DATE(created_at) = #{formattedDate}
    </select>

    <!-- 새로운 주문 삽입 -->
    <insert id="insertOrder">
        INSERT INTO orders (order_number)
        VALUES (#{orderNumber})
    </insert>
</mapper>
