<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--<html lang="en">-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <script src="https://code.jquery.com/jquery-3.6.4.js" integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E=" crossorigin="anonymous"></script>
<!--    <script src="../js/list/apply_1.js"></script>-->
    <script type="text/javascript" th:src="@{/js/list/apply_1.js}"></script>
    <link th:href="@{css/list/apply_1.css}">
</head>
<body>
    <header>

    </header>
    <main>
        <div class="mainWarap">
            <div class="contestWarap">
                <div class="contestInfo">
                    <div class="day">
                        <div class="endDate info">8일</div>
                        <div class="type info">공공 기관</div>
                    </div>
                    <div class="contitle">[포항문화재단] 포항국제불빛축체 브랜딩 콘테스트</div>
                    <div class="applyInfo">
                        <div class="info">총 상금 300만원</div>
                        <div class="info">참여작 <span>9</span>개</div>
                    </div>
                </div><!--contestInfo-->
                <a href="#">
                    <div class="briefing">브리핑 확인하기</div>
                </a>
            </div><!--contestWarap-->

            <section>
                <div class="sectionWrap">
                    <div class="titleWrap">
                        <div class="sectionBri">
                            <h3 class="title">콘테스트 참여 약관 동의</h3>
                            <h5>콘테스트 참여를 위해 아래 내용을 꼭 확인해 주세요.</h5>
                        </div>
                    </div><!--titleWrap-->
                
                    <div class="contentWrap">
                        <div class="applyWrap">
                            <div class="conditions">
                                <div class="conditionsContent">
                                    <input type="checkbox" name="" id="checkAll">
                                    <label for="checkAll">약관에 전부 동의합니다.</label>
                                </div>
                                <div class="check">2024년 8월 15일 기준</div>
                            </div><!--약관 전체 동의-->
                            
                            
                            <div class="conditions">
                                <div class="conditionsContent">
                                    <input type="checkbox" name="" id="check A">
                                    <label for="check A">아이디어 업로드 체크리스트</label>
                                </div>
                                <div class="check">
                                    <i class="fa-solid fa-check"></i>
                                </div>
                            </div><!--conditions-->
                            <div class="popUP A">
                                1. 로고, 일러스트 콘테스트에는 어떠한 스톡이미지, 생성형 AI 콘텐츠, 프리벡터, 클립아트는 사용해서는 안 됩니다.
                                상업적 사용이 제한되는 폰트, 스톡이미지, 생성형 AI 콘텐츠의 사용 규정 및 범위를 위반할 시, 계정이 영구적으로 정지될 수 있습니다. 작품에 유료 폰트, 스톡이미지, 프리벡터, 생성형 AI 콘텐츠 등을 사용한 경우에는 반드시 의뢰자에게 저작권 문제가 없음을 확인하고 명시해야만 합니다.
                                
                                2. D'OH의 판단 하에 본 디자인이 다른 디자이너의 작품을 도용한 것으로 판단되는 경우, D'OH은 해당
                                디자이너의 활동을 제지 혹은 금지할 수 있습니다.
                                또한 상금이 지급되었을 경우 D'OH은 디자이너에게 전액 환불을 요구할 수 있으며, 이에서 파생되는 의뢰자와의 분쟁 및 손해에 관해서는 관련법규에 따라 디자이너에게 배상의 의무가 부여될 수 있습니다.
                                반드시 자신의 디자인만 등록해 주세요.
                                
                                3. 로고, 일러스트 등의 디자인은 반드시 벡터 형태로 작업해야 합니다.
                                
                                4. 참여작의 도용, 저작권, 라이선스 위반 등으로 법적인 문제에 휘말리게 될 경우, 모든 법적 그리고 금전적인 손실에 대한 책임은 디자이너 측에 있습니다.
                                
                                5. D'OH은 실제 상업적으로 사용될 디자인을 의뢰하는 전문 디자이너 플랫폼입니다.
                                의뢰자 불만이 접수된 시안은 D'OH 내부 검수가 이뤄질 수 있으며 경고 횟수에 따라 참여가 제한될 수 있습니다.
                                
                                * D'OH 콘테스트에 참여 시 반드시 [법률 제 11110호 - 저작권법]을 준수하여야 합니다.
                            </div><!--popUP A-->
                            <div class="conditions">
                                <div class="conditionsContent">
                                    <input type="checkbox" name="" id="check B">
                                    <label for="check B">콘테스트 이용 약관</label>
                                </div>
                                <div class="check">
                                    <i class="fa-solid fa-check"></i>
                                </div>
                            </div><!--conditions-->
                            <div class="popUP B">
                                콘테스트 이용약관

                                제1 장 총칙

                                제 1조 목적 및 정의

                                D'OH 콘테스트 이용약관 (이하 ‘본 약관’)은 콘테스트 플랫폼 D'OH()에서 제공하는 세부 하위 서비스인 D'OH 콘테스트(이하 ‘서비스’) 와 관련하여 회사와 회원의 권리·의무 및 책임사항 등을 규정함을 목적으로 합니다.

                                제 2조 용어의 정의

                                본 약관에서 사용하는 용어의 정의는 다음과 같습니다.

                                1. 콘테스트 : D'OH 홈페이지및 모바일 애플리케이션에 게재되는 디자인 및 아이디어 공모전
                                2. 참여자 : 전문가 회원 중 콘테스트에 참여하여 디자인 및 아이디어를 제공하는 자
                                3. 콘테스트 참여 : 참여자가 특정 콘테스트에 디자인 및 아이디어를 제안하고 시안을 등록하는 행위
                                4. 콘테스트 심사 : 참여자의 디자인 및 아이디어를 바탕으로 한 의뢰자의 선정 과정
                                5. 우승후보자 : 콘테스트 심사를 거쳐 의뢰자 회원이 우승자 최종선정 전 선정한 우승 후보 참여자
                                6. 우승후보작 : 콘테스트 심사를 거쳐 의뢰자 회원이 선정한 우승 후보작으로, 작품이 전체에게 공개됩니다.
                                7. 우승자 : 우승후보자를 거쳐 선정된 전문가로 1등, 2등, 3등 등 상금을 수령했거나 수령할 예정인 모든 수상자
                                8. 우승작 : 우승후보작을 거쳐 선정된 최후의 디자인 또는 아이디어로 1등, 2등, 3등 등 상금을 수령했거나 수령할 예정인 수령한 모든 수상작
                                9. 추가 옵션 : 콘테스트 개최 시 상금 및 홍보, 노출 옵션으로 의뢰자가 비용을 추가로 지불함으로써 추가할 수 있는 옵션
                                10. 등록비(서비스 이용료) : 콘테스트 개최 시 D'OH 서비스 및 세부 하위 서비스를 이용하는 대가로 의뢰자가 지불하는 금액
                                11. 게시물 : 포트폴리오, 후기, 마켓 상품 등 이용자가 D'OH 서비스를 이용하면서 작성 및 게시한 모든 콘텐츠

                                제 3조 약관의 효력 및 변경

                                1. 본 약관은 서비스 화면 및 D'OH 홈페이지에 게시하여 공시함으로써 이용자에게 공시하고 이에 동의한 이용자가 D'OH 가입함으로써 효력이 발생합니다.
                                2. 본 약관에 동의하는 경우, 회사의 서비스 제공 행위 및 회원의 서비스 사용 행위에 본 약관이 우선적으로 적용됩니다.
                                3. 회사는 필요하다고 인정하는 경우 관련법을 저촉하지 않는 범위 내에서 본 약관을 개정할 수 있으며, 변경된 약관은 적용 일자 및 개정 사유를 명시하여 서비스 화면에 공지합니다.
                                4. 회원은 변경된 약관에 동의하지 않을 경우 회원등록을 취소(회원탈퇴,해지) 할 수 있으며, 변경된 약관의 효력 발생일로부터 7일 이내에 거부의사를 표시하지 않고 서비스를 계속 사용할 경우 동의한 것으로 간주합니다.

                                제 4조 약관 외 준칙

                                본 약관에 규정되지 않은 사항에 대해서는 관련 법령 또는 통합회원 이용약관, D'OH 서비스 이용약관 등의 규정을 따릅니다. 또한 D'OH의 운영정책 및 규칙 등 (이하 총칭 ‘세부지침’)의 내용이 충돌하는 경우 세부 지침에 따릅니다.

                                제2장 콘테스트 서비스 제공 및 이용

                                제 5조 디자인 및 아이디어의 공급

                                1. D'OH 콘테스트 서비스의 모든 디자인 및 아이디어 공급은 본 약관에 의거하여 이루어집니다.
                                2. 콘테스트 의뢰자가 우승 디자인 및 아이디어를 선정하면 의뢰자와 해당 디자인 및 아이디어의 공급자는 원본 파일 전송과 저작권 양도를 위한 일종의 계약 상태에 돌입하게 됩니다. 이 과정에서 D'OH은 두 당사자 간의 계약에 구속되지 않습니다.
                                3. 두 당사자가 저작권 양도에 동의한 후 참여자는 우승 디자인 및 아이디어의 원본 파일을 D'OH에 업로드하고 의뢰자는 이를 다운로드 받습니다.

                                제 6조 디자인 및 아이디어의 결함
                                특정 디자인 및 아이디어에 결함이 있다고 판단되는 경우는 다음과 같습니다.

                                1. 의뢰자와 참여자가 해당 디자인 및 아이디어에 결함이 있다고 사전에 동의하는 경우
                                2. D'OH이 해당 디자인 및 아이디어에 결함이 있다고 판단하는 경우
                                3. 제3자가 해당 디자인 및 아이디어에 대한 지적재산권을 주장하고 D'OH이 이를 인정하는 경우

                                제 7조 콘테스트의 개최
                                본 조항은 의뢰자 회원이 D'OH의 콘테스트 서비스를 이용하는 경우에 적용됩니다.

                                1. 의뢰자는 D'OH의 고객으로서 특정 디자인이나 아이디어를 공급받기 위해 콘테스트를 개최할 수 있습니다. 콘테스트의 모든 과정은 D'OH() 사이트 내에서 이루어집니다.
                                2. D'OH을 통해서 콘테스트를 개최하는 방법
                                ① 공급받고자 하는 디자인 카테고리를 선택합니다. 미리 정해진 카테고리 내에서 선택을 하거나, 그 외에 의뢰자가 원하는 사항을 직접 기재할 수 있습니다.
                                ② 콘테스트에 대한 브리핑을 작성합니다.
                                ③ 상금을 책정하고 콘테스트에 관한 옵션을 선택합니다. 각 카테고리마다 최소 상금과 선택 가능한 옵션이 다릅니다.
                                ④ D'OH의 사전 허가를 받은 특별한 경우를 제외한 모든 콘테스트는 사전에 모든 비용이 결제되어야 합니다.

                                제 8조 서비스 구매 및 결제

                                1. 콘테스트를 개최하기 위해서 의뢰자는 상금과 등록비(서비스 이용료)가 포함된 총금액을 D'OH에 지불해야 합니다. ① 총금액에서 상금은 해당 콘테스트의 참여자에게 지급되는 금액입니다. ② 총금액에서 등록비(서비스 이용료)는 의뢰자가 D'OH에 지불하는 수수료이며, 이 중에는 각종 프로모션 옵션 등 의뢰자의 선택 사항에 대한 금액이 포함되어 있습니다.
                                2. 콘테스트가 종료되고 의뢰자가 우승작을 선정하면, 상금의 80.3%가 우승 전문가의 가상계좌로 지급되며, 19.7%는 D'OH 이용에 대한 운영 수수료로 공제됩니다. 다만, 전문가 레벨에 따라 공제되는 수수료가 달라질 수 있습니다.
                                3. 우승후보작 선정 옵션을 선택한 콘테스트의 경우, 우승후보작 기준 참여보상비를 균등하게 지급합니다. 단, 우승 작품을 제외한 우승후보작이 0개인 경우, 참여보상 명목으로 미리 책정된 상금의 추가 금액은 반환되지 않으며 우승한 전문가에게 지급됩니다.
                                4. 의뢰자는 상금과 등록비(서비스 이용료)가 포함된 금액에 부가가치세가 포함된 비용을 D'OH 에스크로에 따라 결제하여야 합니다. 결제 방법은 가상계좌, 신용카드 결제가 있습니다. 가상계좌는 세금계산서 및 현금영수증 지출 증빙 발행이 가능합니다.
                                5. 참여자가 콘테스트에 참여할 수 있는 기간이 지난 이후, 의뢰자는 기본 1주일간의 심사기간을 가지게 됩니다.

                                이때, 의뢰자는 회사의 기능을 이용하여 참여작을 주변에 공유하여 우승작 선정을 위한 투표를 진행할 수 있습니다. 다만, SNS 등 불특정다수에게 참여작을 공개하는 경우, 콘테스트 개최 초반에 이에 대한 사전 안내 혹은 디자이너 개별 안내가 필요합니다.

                                제 9조 우승작 선정 이후의 거래
                                의뢰자와 참여자는 콘테스트 개최 및 참여시 본 조항을 읽고 이에 대하여 ‘동의’혹은‘확인’버튼으로 의사를 표시할 수 있습니다. 본 조항은 참여자와 의뢰자 간의 동의가 이루어진 우승작의 경우에만 효력이 발생합니다. 또한 참여자는 우승작 선정 이후에 다시 한 번 저작권 양도 동의 여부를 결정할 수 있습니다. 다만, 저작권 양도에 동의하지 않고, 의뢰자와 저작권에 대한 합의가 이루어지지 않을 경우에는 우승작이 취소될 수 있습니다. 우승작으로 선정되지 않거나 콘테스트가 안전하게 종료되지 않은 경우에는 본 조항의 효력이 상실됩니다.

                                1. 저작재산권의 양도
                                공모전에 출품된 응모작의 저작인격권은 저작자인 응모자에게 원시적으로 귀속됩니다.
                                우승작으로 선정된 참여작은 사전에 공표한 상금 및 대금을 조건으로 대상 저작물에 대한 저작재산권을 영구적으로 의뢰자에게 양도합니다. 다만, 회사는 창작물공모전지침에 따라 ‘최소 상금 하한 제도’를 운영하여 일반적인 거래 관행 등에 비추어 해당 상금 및 대금이 적정하고 거래가 불공정하지 않도록합니다. 또한 참여자와 의뢰자 간의 저작재산권 양도 동의가 이루어진 우승작의 저작재산권 등록에 소요되는 비용은 의뢰자가 부담합니다.
                                1-1) 2차적 저작물 또는 위 저작물을 구성 부분으로 하는 편집 저작물을 작성하여 이용할 권리 등의 하위 권한의 별도 계약이 필요할 경우, 회원은 거래 상대에게 이와 관련한 별도 계약을 요청할 수 있습니다. 다만 계약이 원만하게 합의되지 않을 경우에는 회사가 이를 중재할 수 있습니다.
                                1-2). 우승작품에 스톡 콘텐츠가 포함된 경우, 아래의 부분적 조건에 따라 저작재산권 양도계약을 체결하여야 하며, 전문가는 스톡 콘텐츠 사용 여부를 사전에 분명하게 고지하여야 합니다.
                                ① 모든 콘텐츠들은 원본 라이선스 규정에 따라 사용되어야 합니다. 참여한 전문가(참여자) 및 의뢰인 모두는 원본의 라이선스 및 이용범위에 근거하여 결과물을 활용하여야 합니다.
                                ② 스톡 콘텐츠를 활용한 디자인 결과물의 경우, 그 원본 스톡 소스에 대한 저작권은 일체 양도가 불가능합니다.
                                ③ 위 ②의 사유로, 저작물의 사용권을 양도받은 의뢰인은 스톡 콘텐츠가 제외된 영역에 대해서만 수정 및 활용을 할 수 있습니다.
                                ④ 의뢰인이 부득이하게 스톡 이미지 영역의 원본 수정이 필요한 경우, 의뢰인 측에서 해당 스톡 이미지 업체 측에 허락을 구하여야 합니다.
                                ⑤ 전문가는 유료 스톡 콘텐츠 사용 유무를 사전에 고지하는 의무와 함께 스톡 원본 이미지를 병합하여 전달하는 의무를 집니다. 제작물에 사용된 스톡 이미지 저작물은 일체 원본 전송이 불가능합니다.
                                ⑥ 모든 로고 공모전에는 유료 스톡 콘텐츠가 활용될 수 없습니다.
                                1-3). 저작재산권이 아닌 저작인격권에 관한 사항은 우승자에게 귀속됩니다. 다만, D'OH 홈페이지를 통한 거래 건에 한해 저작재산권을 양도받은 의뢰자가 동의하지 않을 경우, 우승자가 개인적인 용도로 외부에 노출하는 행위(포트폴리오 및 SNS 업로드 등)를 일절 금지합니다. 특히, NDA 계약서 (비밀유지 계약서)에 동의한 콘테스트 및 시크릿 콘테스트, 블라인드 콘테스트는 어떠한 경우에도 의뢰자의 허락 없이 해당 작품을 개인 포트폴리오, SNS 등에 업로드해서는 안 됩니다.
                                2. 저작재산권의 (이전) 등록
                                우승작으로 선정된 참여자는 위 저작물에 대하여 저작재산권 (이전) 등록을 할 수 있으며, 우승작으로 선정된 참여자는 (이전) 등록에 필요한 서류 등을 의뢰자에게 제공하는 등 이에 지체 없이 협력하여야 합니다.
                                3. 배타적 이용
                                우승작으로 선정된 참여자는 위 저작물의 전부 또는 일부와 동일 또는 유사한 저작물을 제3자에게 이용하게 하거나 설정계약 등을 해서는 안됩니다.
                                4. 저작재산권의 권리 변동 사항
                                우승작으로 선정된 참여자는 본 계약 이전에 위 저작물에 대하여 제3자에게 질권을 설정하였거나 위 저작물에 관한 창작 작업을 제3자와 공유한 사실이 없고, 저작재산권의 일부 또는 전부를 양도하였거나 이용허락을 한 사실이 있어서는 안됩니다.
                                5. 성명표시권
                                우승작으로 선정된 참여자는 의뢰인이 위 저작물을 공표하거나 본 조항에서 규정하고 있는 위 저작물에 대한 2차적 저작물 내지 편집저작물을 공표하는 경우, 위 저작물 또는 2차적 저작물 내지 편집저작물의 저자로 우승작으로 선정된 참여자를 표시합니다. 다만, 저작물의 성질이나 그 이용의 목적 및 형태 등에 비추어 부득이하거나 저작물을 로고, 제품, 패키지, 포스터, 웹사이트, 어플 등 상업적 용도로 사용하는 경우, 통상적으로 저자를 표시하지 않는 경우라고 인정되는 때에는 그 저자표시를 생략할 수 있습니다.
                                6. 계약의 해석 및 보완
                                ① 본 조항에 명시되어 있지 아니 하거나 해석상 이견이 있을 경우에는 저작권법, 민법 등을 준용하고 사회 통념과 조리에 맞게 해결합니다.
                                ② 각 항을 위반하거나 협력의무를 불이행한 경우에 발생한 분쟁 및 손해에 관해 의뢰자나 참여자는 관련법령에 의거하여 배상의 책임을 질 수 있습니다.

                                제 10조 전문가 회원에 대한 상금의 지급

                                1. 다음의 각 항을 충족시키는 경우에만 상금을 지급합니다. ① 브리핑의 내용과 우승작 사이에 연계가 있고, 모든 저작물이 안전하게 전달되었을 경우 ② 우승작에 대해 아무도 의구심을 품지 않거나, 발생한 문제가 해결된 경우 ③ 부정에 대하여 아무런 근거가 없는 경우
                                2. 의뢰자는 수정작업이 완료되면 지체없이 상금 전달을 승인해야 합니다. 1개월 이상 상금 전달이 지연될 경우 D'OH은 수정작업이 잘 진행되었는지 확인 후 임의로 상금을 지급할 수 있습니다.
                                3. 의뢰자는 우승작으로 선정된 참여자에게 위 2항에 의하여 대상 저작물의 양도 대가로 상금 및 대금을 지급합니다. 3-1) 위 3항의 양도대금은 D'OH이 의뢰자로부터 지급받아, 그 양도대금에서 D'OH 서비스 운영에 대한 수수료(19.7%)를 공제한 후, 그 나머지를 우승작으로 선정된 참여자에게 지급합니다.
                                4. 우승후보작 선정 옵션을 선택하였으나 우승후보작 미선정으로 참여보상비 지급 상대가 없는 경우, 상금 기준으로 미리 책정된 참여보상 비용은 우승한 전문가에게 지급 처리됩니다. 우승 작품을 제외한 우승후보작이 0개인 경우, 우승작이 2개 이상인 다작 수상 콘테스트는 우승한 전문가 전원에게 참여보상비를 1/n 배분합니다.

                                제 11조 분쟁 및 환불

                                1. D'OH은 디자인 중개업체로 의뢰자와 전문가 간 발생한 분쟁에 대한 조정 의무가 없습니다. 다만 의뢰자와 전문가 간의 원활한 협의를 위해 분쟁 발생 시, D'OH 내부 회의를 통해 분쟁의 책임이 누구에게 있는지 결정합니다. 책임이 의뢰자에게 있다고 판단한 경우 환불은 일체 불가능합니다. 책임이 전문가에게 있다고 판단한 경우 지급된 모든 금액이 의뢰자에게 환불됩니다. 양측 모두에게 책임이 있다고 판단될 경우, 수수료를 제외한 거래대금이 의뢰자와 전문가에게 50%씩 동일하게 지급됩니다. 해당 결과에 수긍하지 않는 당사자는 본인이 직접 외부 기관 등을 통해 분쟁을 조정해야 하며, 회사는 그에 일체 관여하지 않습니다.
                                2. 환불 과정은 콘테스트 등록 중의 결제 방법과 동일하게 이루어집니다.
                                3. 콘테스트가 종료된 후 참여자가 0명인 경우, 결제한 모든 금액을 환불받을 수 있습니다.
                                4. 참여자가 1명 이상인 경우 실속형, 일반형 패키지는 환불이 불가능합니다.
                                5. 고급형, 프리미엄 패키지의 경우 상금의 50% 환불이 가능하지만, 다음 각호에 해당하는 경우에는 환불이 불가능합니다.
                                ① 네이밍/아이디어 콘테스트인 경우:
                                아이디어로 수상작이 선정되는 네이밍/콘테스트 카테고리는 일체 환불이 불가능합니다.
                                ② 의뢰사의 부득이한 사정으로 심사가 지연되어 2회 이상 연장될 경우:
                                2회 이상 연장되는 콘테스트는 기존 환불 정책과 관계없이 ‘환불 불가 콘테스트’로 변경됩니다.
                                6. 수상자가 복수인 콘테스트의 경우에도 콘테스트 등급, 카테고리에 해당하는 각호의 조항이 모든 개별 상금에 동일하게 적용됩니다.
                                7. 우승후보작이나 우승작을 이미 선정한 경우 역시 환불이 불가능합니다. 콘테스트 심사 결과는 번복할 수 없으며, 우승 후보작을 선정했다면 그 중 우승작을 선정해야 합니다.
                                8. 환불이 불가능한 콘테스트는 우승작을 선정하지 않는 경우 서비스 수수료를 제외한 나머지 상금이 참여자에게 1/n 로 배분됩니다.

                                제 12조 부정 콘테스트에 대한 관리

                                1. 어떠한 형식으로든지 의뢰자 및 해당 콘테스트 관계인은 본인의 콘테스트에 참여할 수 없습니다.
                                2. 다음 각 호에 해당하는 경우 회사는 해당 콘테스트에 대해 검토해볼 권리가 있습니다.
                                ① 브리핑의 내용과 우승작의 내용이 크게 다른 경우
                                ② 다른 참여자의 신고가 접수된 경우
                                ③ 5회 이하 참여자가 우승한 경우
                                ④ 다른 참여자의 아이디어 및 디자인을 차용하려는 의구심이 드는 경우
                                ⑤ 기타 부정 콘테스트로 의심할만한 근거가 발견된 경우
                                3. 다음 각 호에 해당하는 경우 부정 콘테스트로 간주됩니다.
                                ① 어떤 형식으로든지 의뢰자가 본인의 콘테스트에 참여하는 경우
                                ② 의뢰자의 참여작이 우승작이 된 경우
                                ③ 본인이 개최한 콘테스트에 등록된 타작품이나 아이디어를 침해하여 참여한 경우
                                4. 부정 콘테스트로 적발 시 의뢰자에게 내용 통보 후 해당 콘테스트는 즉시 취소되며, 참여작은 의뢰자로부터 비활성화 처리 됩니다.
                                5. 지불된 상금은 일체 반환되지 않으며, 우승자를 제외한 해당 콘테스트 참여자에게 서비스 수수료를 제외한 1/n로 전액 지급됩니다.

                                제 3장 의무 및 책임

                                제 13조 회사의 의무

                                1. D'OH은 의뢰자의 콘테스트를 홈페이지에 가입된 참여자들에게 홍보하여 참여를 유도합니다. D'OH은 참여자에게서 받은 디자인 및 아이디어를 홈페이지를 통해 의뢰자에게 전달합니다. 의뢰자가 최종적으로 우승작을 선정하면 D'OH은 홈페이지를 통해 의뢰자에게 우승작의 원본 파일을 전송합니다.
                                2. 의뢰자가 원본 파일을 제대로 받은 것이 확인되면 D'OH은 우승작으로 선정된 참여자에게 상금을 지급합니다.

                                제 14조 의뢰자의 의무

                                1. 의뢰자는 본 약관, D'OH 서비스 약관, 세부 지침 등에 정해진 사항을 준수하고 정해진 절차에 따라 서비스의 이용, 결제, 거래 진행 등의 처리를 수행해야합니다
                                2. 의뢰자는 참여자의 문의에 성실히 답해야합니다.
                                3. 의뢰자는 특정 참여자에게 D'OH을 통한 방법 이외의 다른 방법으로 원본 파일 전송을 요구하지 않습니다.
                                4. 의뢰자는 콘테스트에 관한 D'OH의 약관 외에 다른 요건이나 조건을 참여자에게 요구하지 않습니다.
                                5. 의뢰자는 불특정 다수의 참여자에게 콘테스트의 참여를 유도하는 메시지를 보낼 수 없습니다. 이를 위반할 시 메시지 이용정지 처분을 받을 수 있습니다.
                                6. 의뢰자는 최종 우승작 선택 전, 디자인 및 아이디어의 침해 여부를 알아볼 의무가 있습니다. D'OH은 모든 게시물을 검사 또는 검열할 의무를 갖지 않으며, 저작권 양도 후 발생하는 손해에 대해 책임지지 않습니다.
                                7. 모든 콘테스트는 심사중으로 전환된 시점부터 7일 이내에 우승작을 선정해야 합니다. 만약 부득이한 상황(내부 검토 기간 필요, 의뢰자 부재 등)으로 약속된 기간 내에 우승작을 선정할 수 없는 경우, 우승작 발표 예정일을 D'OH 측에 공지해야 합니다.
                                7-1) 사전 공지 또는 발표 없이 14일 후에도 우승 작품을 선정하지 않는 경우:
                                ① 해당 콘테스트의 우승후보작으로 선정된 참여자들에게 서비스 수수료를 제외한 상금의 100%가 1/n로 균등하게 지급됩니다.
                                ② 우승후보작이 없는 경우 참여한 모든 전문가에게 서비스 수수료를 제외한 상금의 100%가 1/n로 균등하게 지급됩니다.
                                ③ 해당 콘테스트는 환불이 불가하며, 의뢰자는 추후에 콘테스트에 등록된 그 어떤 디자인 시안 및 아이디어도 사용할 수 없습니다.
                                8. 우승작이 선정되면 콘테스트 참여자와 의뢰자가 저작권 양도에 동의한 뒤 참여자는 D'OH에서 지정한 방법으로 디자인 원본 파일을 의뢰자에게 전송합니다. 저작권 양도에 관한 자세한 내용은 제9조에 명시되어 있습니다.
                                9. 모든 콘테스트에 등록되는 참여자의 중간인도물, 사전작업물, 최종인도물의 개별구성요소에 대한 지적재산권은 참여자에게 귀속되며, 의뢰자는 이를 참여자의 허락없이 사용할 수 없습니다.
                                10. 의뢰자는 콘테스트 참여자와의 소통의 의무가 있습니다. 또한, 최종 우승자를 선정한 시점부터 1주일 이내에 수정작업 완료 및 최종 수령 확인을 해야 합니다. 만약 디자인 원본이 정상적으로 전달되었음에도 불구하고 이러한 조치가 취해지지 않은 경우에는, 우승자 선정 후 1주일 시점에 자동으로 수령 확인 처리됩니다. 단, 참여자의 부재로 인해 소통이 어려운 경우에는 위 내용이 적용되지 않습니다.
                                11. 우승작을 제외한 의뢰자가 선정하지 않은 모든 디자인 및 아이디어의 저작권은 해당 참여자에게 있습니다. 의뢰자는 본인이 우승작으로 선정하지 않은 디자인 및 아이디어를 사용할 수 없습니다.
                                12. 의뢰자는 심사를 위해 콘테스트의 심사 기간을 1회 연장할 수 있습니다.
                                12-1) 의뢰사의 부득이한 사정으로 심사가 지연되어 2회 이상 연장될 경우, 기존 환불 정책과 관계없이 ‘환불 불가 콘테스트’로 변경됩니다.
                                13. 의뢰자는 어떠한 방식으로든 본인의 콘테스트에 참여할 수 없습니다.
                                14. 개최한 콘테스트가 부정 콘테스트로 판명될 경우 회사는 의뢰자가 지불한 상금으로 전문가에게 보상할 수 있는 권리가 있습니다.
                                15. 개최한 콘테스트의 모집 기간이 종료된 후 더 많은 시안을 받아보고 싶을 때, 공모 기간을 1회에 한해 1주일 연장하여 재개최할 수 있습니다. 다만 이 경우에는 반드시 상금이 20만원 이상 상향되어야 합니다. 또한 우승후보작, 우승작을 이미 선정한 경우에는 기간연장이 불가능합니다.
                                16. 우승작으로 선정하는 디자인에 대한 최종적인 확인 및 판단 책임은 의뢰자에게 있습니다. D'OH은 타 회원으로부터 접수된 의혹 제보를 의뢰자에게 성실히 전달하지만, 우승작품에 대해 직접 책임지지는 않습니다. 또한 의뢰자가 선정한 우승작에 대한 문제 제기는 반드시 우승작 선정 후 6개월 이내에 D'OH 측으로 접수되어야 합니다.
                                17. 의뢰자는 우승작으로 선정하는 디자인 및 네이밍에 대한 상호등록, 상표권등록, 특허등록, 디자인권 등록, 도메인등록 가능 여부 등을 직접 판단하고 우승작을 선정해야 합니다. D'OH 및 참여자는 의뢰자의 브리핑 요청사항을 최대한 성실히 반영할 수 있도록 노력하지만, 디자인 및 네이밍의 상호등록, 상표권등록, 특허등록, 디자인권 등록, 도메인등록은 긴 시간이 소요되는 절차이며 실제로 신청해보기 전에는 결과를 알 수 없으므로 이를 보장할 수 없습니다. 우승작 선정 후 상호, 상표권, 특허, 디자인권, 도메인 등록 실패로 인한 우승작 변경 및 환불은 불가능합니다.
                                18. 의뢰자는 우승작 선정 후 수정작업을 진행함에 있어 기존에 제시된 디자인에서 간단한 수정사항만 최대 3회까지 작업 요청할 수 있으며, 이미 디자인 시안을 보고 선정하였기 때문에 그와 전혀 다른 새로운 디자인 작업을 요청할 수 없습니다. 또한 수정작업이 원활히 진행된 경우 지체없이 상금 전달을 승인하여야 하며, 우승작 선정 후 상금 전달까지 14일이 초과될 경우 D'OH 관리자의 판단하에 임의로 상금이 전달될 수 있습니다.
                                19.의뢰자는 콘테스트 우승후보자에게는 수정을 요청할 수 없습니다. 수정을 진행해야하는 경우, 우승작으로 선정한 이후, 우승한 전문가에게 수정을 요청할 수 있습니다.
                                19. 모든 콘테스트에 등록되는 참여자의 중간인도물, 사전작업물, 최종인도물의 개별구성요소에 대한 지적재산권은 참여자에게 귀속되며, 의뢰자는 이를 참여자의 허락 없이 사용할 수 없습니다.또한 회사는 의뢰자가 저지른 지적재산권 관련 침해, 위반 등에 법적인 책임을 지지 않습니다.
                                20. 의뢰자는 전문가와 직접 거래하거나 이를 유도하는 행위를 해서는 안됩니다.
                                21. 상대방의 문의에 대한 답변, 응대가 진행되지 않는 연락 두절 및 회피 행위를 해서는 안됩니다.
                                22. 비정상적인 서비스 이용 및 비정상적인 서비스 시스템 접근을 해서는 안되며, 본 서비스를 포함한 회사 자산을 손상시키거나 사용불능 상태로 만드는 등의 방법으로 서비스에 장애를 발생하는 행위를 해서는 안됩니다.
                                23. 다른 회원, 제 3자 혹은 D'OH 직원을 사칭하는 행위를 해서는 안됩니다.
                                24. 도배 광고, 홍보 스팸 등을 보내 회원의 업무, 회사의 업무 및 서비스의 운영을 방해하거나 지장을 주는 행위를 해서는 안됩니다.
                                25. 본인의 계정을 타인에게 판매, 양도, 대여하거나 그 이용을 시도, 권유 혹은 허락하는 행위를 해서는 안됩니다.
                                26. 거래 진행 과정에서 알게된 상대, 다른 회원 혹은 제 3자의 개인 정보를 거래과정 외에 이용하는 등 침해하는 행위를 해서는 안됩니다.
                                27. 회사나 제 3자의 저작권, 상표권, 특허권 등의 지적재산권, 인격권, 재산권, 명예권, 초상권, 프라이버시 등 기타 법령상 또는 계약상의 권리를 침해하는 행위를 해서는 안됩니다.
                                28. 그 밖의 기타 공공질서를 해하거나 관계 법령에 위배되는 행위를 해서는 안됩니다.
                                29. 회원이 본 조항의 회원의 의무를 위반한 경우에 세부 지침 및 내부 규정 등에 따라 회사는 회원에게 경고, 이용제한, 이용정지 등을 제재할 수 있습니다.

                                제 15조 참여자의 의무
                                본 조항은 회원이 D'OH의 콘테스트를 참여자로서 이용하는 경우에 적용됩니다.

                                1. 참여자는 본 약관, D'OH 서비스 약관, 세부 지침 등에 정해진 사항을 준수하고 정해진 절차에 따라 서비스의 이용, 콘테스트 참여, 거래 진행 등의 처리를 수행해야합니다.
                                2. 콘테스트에 참여하기 위해서는 의뢰자가 개최한 콘테스트에 디자인 혹은 아이디어를 등록해야 합니다. 등록하는 디자인 및 아이디어는 의뢰자가 요구하는 형식에 맞춰야 하며, 형식에 맞지 않는 경우 의뢰자 또는 D'OH에 의해 삭제될 수 있습니다.
                                3. 모든 디자인 및 아이디어는 D'OH을 통해 등록되어야 하며, 파일의 포맷이나 업로드 방법 등은 D'OH에 명시되어 있는 방법을 따라야 합니다.
                                4. 디자인 혹은 아이디어를 등록하는 것은 D'OH 정책 checklist에 동의하고, 다른 사람의 지적재산권을 침해하거나 특정 지적재산의 2차 저작물이 아님을 약속하고 보증한 것을 의미합니다.
                                5. D'OH에서 특별히 인정하는 경우가 아닌 이상 제3자의 지적재산권을 침해할 수 없습니다. 만약 부득이하게 제3자의 지적재산권을 침해하게 되는 경우, 등록 시 내용과 허가증 등을 명확하게 게시해야 합니다.
                                6. 참여자는 제3자의 지적재산권을 침해함으로 인한 의뢰자의 손해에 대하여 책임을 부담해야 합니다. 다만, 참여자의 책임 없는 사유로 인하여 발생한 경우에는 의뢰자가 부담합니다.
                                7. 우승작으로 선정되면 의뢰자에게 전달될 고해상도의 디자인 원본 파일 또는 아이디어의 원본 파일을 www.loud.kr에 업로드 해야 합니다.
                                8. 참여자는 해당 콘테스트를 개최한 의뢰자와 이해관계가 없어야 합니다. 이에 참여자 회원은 서비스 가입 전에 개최된 콘테스트에는 참여가 제한됩니다. 단, 프리미엄 콘테스트는 제한 없이 참여 가능합니다.
                                9. NDA 계약서에 동의한 콘테스트, 시크릿, 블라인드 콘테스트에 참여한 작품은 우승작으로 선정되지 않더라도 의뢰자의 허락 없이 해당 작품을개인 포트폴리오, SNS 등에 업로드해서는 안됩니다.
                                10. 참여자는 제3자의 저작권 등을 침해해서는 안되며, 만일 이를 위반하여 의뢰자 또는 제3자에게 손해를 끼칠 경우에는 민·형사상의 모든 책임을 지게 됩니다. 이는 콘테스트가 종료되어 이미 우승작으로 선정된 경우에도 해당되는 것으로 저작권 침해 또는 이와 관련된 문제 발생 시 선정 후에라도 취소가 가능하며, 이런 경우 회사는 우승작으로 선정된 참여자에게 지급한 상금을 회수할 수 있습니다. 또한 회사는 의뢰자 또는 참여자가 저지른 지적재산권 관련 침해, 위반 등에 법적인 책임을 지지 않습니다.
                                11. 참여자는 의뢰자와 직접 거래하거나 이를 유도하는 행위를 해서는 안됩니다.
                                12. 상대방의 문의에 대한 답변, 응대가 진행되지 않는 연락 두절 및 회피 행위를 해서는 안됩니다.
                                13. 비정상적인 서비스 이용 및 비정상적인 서비스 시스템 접근을 해서는 안됩니다.
                                14. 다른 회원, 제 3자 혹은 D'OH 직원을 사칭하는 행위를 해서는 안됩니다.
                                15. 도배 광고, 홍보 스팸 등을 보내 회원의 업무 및 회사의 업무를 방해하는 행위를 해서는 안됩니다.
                                16. 본인의 계정을 타인에게 판매, 양도, 대여하거나 그 이용을 시도, 권유 혹은 허락하는 행위를 해서는 안됩니다.
                                17. 거래 진행 과정에서 알게된 상대, 다른 회원 혹은 제 3자의 개인 정보를 거래과정 외에 이용하는 등 침해하는 행위를 해서는 안됩니다.
                                18. 그 밖의 기타 공공질서를 해하거나 관계 법령에 위배되는 행위를 해서는 안됩니다.
                                19. 회원이 본 조항의 회원의 의무를 위반한 경우에 세부 지침 및 내부 규정 등에 따라 회사는 회원에게 경고, 이용제한, 이용정지 등을 제재할 수 있습니다.

                                제 16조 회원에 대한 제재
                                회사는 중개서비스를 통한 거래의 안전성과 신뢰성을 위하여 이 약관에서 정한 바에 따라 회원자격을 정지하거나 서비스의 이용 제한, 기타 필요한 조치를 취할 수 있습니다. 회사가 회원자격을 정지하거나 기타 필요한 조치를 취할 경우 회사는 이 약관에 특별한 규정이 없는 한 사전에 회원에게 유선 또는 메일(e-mail), 기타의 방법을 통하여 통보하며, 회원의 연락이 두절되거나 긴급을 요하는 것과 같이 부득이한 경우 선 조치 후 사후 통보할 수 있습니다. 정지된 회원은 콘테스트를 이용할 수 없으며, 콘테스트의 이용이 제한된 회원은 기존 진행하고 있는 콘테스트를 제외한 모든 서비스를 이용할 수 없습니다. 위 이용 제한 약관은 의뢰자 회원과 참여자 회원 모두에게 적용됩니다.

                                1. 도용
                                D'OH의 판단하에 본 디자인이 다른 참여자의 작품을 도용한 것으로 판단되는 경우, D'OH은 해당 참여자의 활동을 제지 혹은 금지할 수 있습니다. 또한 상금이 지급되었을 경우 D'OH은 참여자에게 전액 환불을 요구할 수 있으며, 이에서 파생되는 의뢰자와의 분쟁 및 손해에 관해서는 관련 법규에 따라 참여자에게 배상의 의무가 부여될 수 있습니다. 회사는 도용에 대하여 그 적발 횟수에 따라 아래와 같은 제한을 부과합니다. 아래 기준을 따르되, 위반 정도에 따라 회사는 기준보다 높거나 낮은 제한을 할 수 있습니다.
                                1-1) 적발 횟수에 따른 제한의 내용
                                1회 15일 이용정지
                                2회 30일 이용정지
                                3회 회원자격의 영구정지
                                2. 부정콘테스트
                                회사는 의뢰자의 부당한 콘테스트 진행에 대하여 회원자격을 정지하거나 중개서비스 이용을 제한할 수 있습니다. 콘테스트 의뢰자와 우승 참여자가 서로 이해관계가 있는 것으로 확인될 경우, 해당 콘테스트를 부정콘테스트로 간주하고 이에 따른 조치를 아래와 같이 취합니다.
                                부정 콘테스트 적발 시, 콘테스트 임의 종료 후 참여한 전문가에게 상금을 균등하게 배분합니다. 의뢰자는 콘테스트 개최 시에 지불하였던 상금을 돌려받을 수 없습니다. 또한 부정 콘테스트의 의뢰자와 부정 참여자는 서비스 이용에 제한이 있습니다.
                                3. 연락두절
                                연락두절이란 의뢰자 및 참여자가 회원가입 시 기재한 유선 또는 메일(e-mail)등 기타의 방법을 통하여 회사가 연락을 시도하였음에도 불구하고 일체의 응대가 진행되지 않는 상태를 말합니다. 의뢰자는 정상적인 콘테스트 심사 종료가 불가한 상태 또는 이와 같은 상태가 예상되는 경우 이를 즉시 회사에 통보하여야 하며 신속한 종료를 위하여 최선의 노력을 다하여야 합니다. 참여자는 서비스의 원활한 진행을 위해 우승이 확정된 콘테스트 의뢰자의 요청에 응답하여야 하며 정상적인 연락이 어려울 것으로 예상되는 경우 이를 즉시 회사에 통보하여야 합니다. 연락두절로 인한 클레임이 발생하였을 경우, 회사는 아래의 규정에 따라 조치할 수 있습니다.
                                콘테스트 심사 종료 후 14일 이상 일체의 응대가 진행되지 않는 상태를 연락두절이라 칭함. 위의 경우 취할 수 있는 조치는 콘테스트 강제 종료 또는 우승작 교체
                                4. 수정의 범위 및 의무
                                참여자는 의뢰자의 문의 및 수정요청에 신속하고 성실히 응대해야 합니다. 콘테스트의 우승 참여자는 우승작 선정 후 최대 3회까지의 간단한 수정작업을 진행할 의무가 있습니다. 여기서 간단한 수정 작업이라 함은 기존의 디자인을 수정/보완하는 선에서의 작업내용을 말하며, 의뢰자는 완전히 새로운 디자인을 요청할 수 없습니다. 수정 작업 이행을 거부 시 참여자 회원은 서비스 이용이 어려울 수 있습니다.
                                5. 반복적인 불만 접수
                                동일한 전문가의 시안에 대해 반복적으로 의뢰자의 삭제 요청 및 불만이 접수될 경우 D'OH은 회원의 시안을 검수할 수 있습니다. 내부 검수 기준에 부합하지 않다고 판단할 경우 해당 회원의 시안을 임의로 삭제할 수 있으며 사이트 이용을 제한할 수 있습니다.
                                6. 기타 위법·부당행위
                                회사는 회원이 다음 각 목의 하나에 해당하는 경우 회원자격을 정지하거나 서비스 제공을 거부 또는 제한할 수 있으며, 그 밖에 법령준수, 타인의 권리 보호, 사이트의 안전 확보 등을 위하여 필요한 법적 조치를 취할 수 있습니다.
                                ① 회사의 D'OH 사이트, 앱, 시스템, 서비스를 스팸 정보 전송 또는 악성코드 프로그램 유포, 타인 계정 도용 등 범죄 또는 불법행위에 이용한 경우
                                ② 콘테스트를 최종 마무리하지 않고, 무단으로 잠적/ 회피 하는 경우
                                ③ D'OH의 데이터를 정당한 권한 없이 스스로 또는 제3자를 통하여 복사, 퍼가기, 스크래핑하거나 기타의 방법으로 상업적으로 이용한 경우
                                ④ 회원이 제공한 정보 또는 그에 관한 증빙자료가 허위이거나 회사가 요청하는 증빙자료를 제공하지 않는 경우
                                ⑤ D'OH 서비스와 관련된 정보나 소프트웨어를 상업화하는 경우
                                ⑥ 회원이 다른 회원의 개인정보를 무단수집 하거나 마케팅 등 수집 목적 외로 이용하는 경우
                                ⑦ 회원이 다른 회원의 개인정보를 무단으로 제3자에게 제공하거나 관련 법령 또는 회사의 개인정보취급방침을 위배하여 다른 회원의 개인정보가 침해된 경우
                                ⑧ D'OH 메세지 또는 1:1 대화를 이용한 의사소통 중 욕설, 비방 혹은 명예를 훼손하는 내용을 작성하는 경우
                                ⑨ 그 외 약관 또는 법령에 위반되거나 타인의 권리를 침해하는 행위가 있거나 그러한 위법·부당한 행위가 있는 것으로 의심될 만한 타당한 이유가 있는 경우

                                제4장 손해배상 및 면책조항 권리관계

                                제14조 손해 배상

                                1. 의뢰자와 판매자는 본 계약의 이행과정에서 알게 된 상대방의 업무상·기술상 비밀을 상대방의 승인이 없는 한 부당하게 이를 이용하거나 제3자에게 누설하여서는 안 됩니다.
                                2. 의뢰자와 판매자는 계약 기간 중, 계약 기간의 만료 또는 계약의 해제·해지 후에도 제1항의 이행 의무가 있으며, 이에 위반하여 상대방에게 손해를 입힌 경우에는 이를 배상해야 합니다.
                                3. 회사는 서비스와 관련한 귀책 사유가 아닌 다른 사유에 의해 발생된 일체의 손해에 대한 책임을 지지 않습니다.

                                제15조 면책조항

                                1. 회사는 안전한 결제 수단 등의 기타 부가정보를 제공함에 그치며, 중개서비스를 통하여 이루어지는 회원 상호 간의 모든 제반 사항(디자인 결과물의 만족도, 상대방에 대한 의무 이행 등)에 대한 처리는 거래 당사자인 회원들이 직접 수행해야 합니다. 회사는 회사의 고의 또는 중대한 과실이 없는 한 서비스를 이용하는 양 당사자 간의 거래에 어떠한 책임도 지지 않습니다.
                                2. 회사는 천재지변, 전쟁 및 기타 이에 준하는 불가항력으로 인하여 서비스를 제공할 수 없는 경우에는 서비스 제공에 대한 책임이 면제됩니다.
                                3. 회사는 기간통신 사업자가 전기통신 서비스를 중지하거나 정상적으로 제공하지 아니하여 손해가 발생한 경우 책임이 면제됩니다.
                                4. 회사는 서비스용 설비의 보수, 교체, 정기점검, 공사 등 부득이한 사유로 발생한 손해에 대한 책임이 면제됩니다.
                                5. 회사는 이용자의 컴퓨터 오류에 의해 손해가 발생한 경우, 또는 회원이 신상정보 및 전자우편 주소를 부실하게 기재하여 손해가 발생한 경우 책임을 지지 않습니다.
                                6. 회사는 회원 간 또는 회원과 제3자간에 서비스를 매개로 하여 물품거래 혹은 금전적 거래 등과 관련하여 어떠한 책임도 부담하지 아니하고, 회원이 서비스의 이용과 관련하여 기대하는 이익에 관하여 책임을 지지 않습니다.
                                7. 회사는 회원 또는 기타 유관기관이 서비스에 게재한 의견이나 정보에 대해 정확도 및 신뢰도를 보장하지 않습니다. 이용자가 위 내용에 의존해 얻은 모든 종류의 이득이나 손해에 대하여 회사는 책임을 부담하지 않습니다.
                                8. 회사는 이용자가 서비스 이용과 관련하여 가입자에게 발생한 손해 중 가입자의 고의, 과실에 의한 손해 및 타 이용자로 인해 입게 되는 정신적 피해에 대하여 보상할 책임을 지지 않습니다.
                                9. D'OH은 수준 높은 작품이 콘테스트에 참여하도록 최선을 다하지만, 그 참여작의 수준에 대한 책임을 지지 않습니다.

                                제16조 게시물에 대한 권리관계

                                1. 회원이 게시한 게시물의 저작권은 회원이 소유하며, 회사는 서비스 내에 이를 게시할 수 있는 권리를 갖습니다.
                                2. 회사는 다음 각호에 해당하는 게시물이나 자료를 사전 통지 없이 삭제하거나, 이동 또는 등록 거부를 할 수 있습니다. ① 본 서비스 약관에 위배되거나 상용 또는 불법, 음란, 저속하다고 판단되는 게시물을 게시한 경우 ② 다른 회원 또는 제 3자를 비방하거나 중상모략으로 명예를 손상시키는 내용인 경우 ③ 공공질서 및 미풍양속에 위반되는 내용인 경우 ④ 범죄적 행위에 결부된다고 인정되는 내용일 경우 ⑤ 제3자의 저작권 등 기타 권리를 침해하는 내용인 경우 ⑥ 서비스 성격에 부합하지 않는 정보의 경우 ⑦ 허위 상품 판매 및 구매(신분 위장, 아이디어 침해 등을 목적으로 한 의뢰)를 진행한 경우 ⑧ D'OH 내부 검수 기준에 부합하지 않는 경우 ⑨ 기타 관계 법령에 위배되는 경우
                                3. 회사는 게시된 내용이 일정 기간 이상 경과되어 게시물로서의 효력을 상실하여 그 존치 목적이 불분명한 경우, 공지 발표 후 2주일간의 통지 기간을 거쳐 해당 게시물을 삭제할 수 있습니다.
                                4. 회원의 게시물이 타인의 저작권을 침해함으로써 발생하는 민·형사상의 책임은 회원에게 있습니다.
                                5. 회원은 서비스를 이용하여 얻은 정보를 가공, 판매하는 행위 등 서비스에 게재된 자료를 상업적으로 사용할 수 없습니다.
                                6. 콘테스트 참여작은 심사 기간 내 의뢰자가 필요한 경우, 콘테스트 심사 목적에 한해 외부에 제한적으로 공개될 수 있습니다. 다만, 외부 도용 방지를 위해 워터마크가 적용된 이미지로 공개됩니다.
                                7. 콘테스트 우승작은 참여자의 포트폴리오로 등록되며 홈페이지 내 자동으로 게시될 수 있으며, 포트폴리오 게시를 원하지 않는 경우, 해당 포트폴리오를 노출되지 않는 상태로 변경할 수 있습니다.
                                8. 콘테스트에 우승한 참여자와 우승작을 선정한 의뢰자는 온라인 및 오프라인 상에서 D'OH이 해당 우승작을 홍보 등의 목적으로 사용하는 것을 승인하며, 사용에 동의하지 않는 경우 언제든지 D'OH에게 사용 중단을 요구할 수 있습니다.
                                9. 전문가 회원이 D'OH에 게시하여 포트폴리오로 공개한 게시물의 경우, 회사가 홍보 등의 목적으로 제한적으로 사용할 수 있습니다. 단, 게시물이 개인을 식별할 수 있는 개인정보는 제외하며, 사용에 동의하지 않는 경우 언제든지 사용 중단을 요구할 수 있습니다.

                                제17조 서비스에 대한 권리관계

                                1. 회사가 제공하는 서비스, 그에 필요한 소프트웨어, 이미지, 마크, 로고, 디자인, 서비스 명칭, 정보 및 상표 등과 관련된 지적재산권 및 기타 권리는 회사에게 있습니다.
                                2. 회원은 회사가 명시적으로 승인한 경우를 제외하고는 제1항 소정의 각 재산에 대한 전부 또는 일부의 수정, 대여, 대출, 판매, 배포, 제작, 양도, 재라이센스, 담보권설정행위, 상업적 이용행위를 할 수 없으며, 제3자로 하여금 이와 같은 행위를 하도록 허락할 수 없습니다.

                                제18조 준거법 및 관할법원

                                1. 서비스 이용과 관련하여 회사와 회원 사이에 분쟁이 발생한 경우, 회사와 회원은 발생한 분쟁을 원만하게 해결하기 위하여 필요한 모든 노력을 해야 합니다.
                                2. 제1항의 규정에도 불구하고 서비스 이용으로 발생한 분쟁에 대하여 소송이 제기될 경우, 회사 소재지를 관할하는 법원을 관할법원으로 합니다.
                                3. 이 약관에 명시되지 않은 사항은 관계 법령과 상관습에 따릅니다.
                                - 본 이용약관은 2023년 12월 11일부터 시행됩니다.
                                - 개정 2023.4.5
                                - 개정 2023.1.30
                                - 개정 2022.10.29
                                - 개정 2022.7.25
                                - 개정 2022.4.1
                                - 개정 2022.1.1
                                - 개정 2019.1.31
                            </div>
                            <div class="conditions">
                                <div class="conditionsContent">
                                    <input type="checkbox" name="" id="check C">
                                    <label for="check C">콘테스트 참여 주의사항</label>
                                </div>
                                <div class="check">
                                    <i class="fa-solid fa-check"></i>
                                </div>
                            </div><!--conditions-->
                            <div class="popUP C">
                                <strong>저작권 침해 행위 금지</strong>

                                저작권 침해로 인한 분쟁 발생 시 사이트 이용 정지 및 상금 회수 처리되며,
                                관련 법규에 따라 디자이너에게 추가적인 배상의 의무가 발생할 수 있습니다.

                                스톡 콘텐츠, 생성형 AI 콘텐츠 사용시 원본 제작물의 라이센스를 반드시 확인해 주세요.
                                

                                <strong>유사 디자인 체크 필수</strong> 

                                우승작 및 우승후보작은 모든 디자이너 회원에게 공개되어 도용 제보가 접수됩니다. 상표권 검색, 네이버&구글 검색 등 타 사이트에 유사한 이미지가 있는지 반드시 확인해주세요.

                                <strong>이를 어길 시 이용정지 처리될 수 있습니다.</strong> 
                            </div>
                        </div><!--applyWrap-->
                    </div><!--contentWrap-->
                    
                    <div class="titleWrap">
                        <div class="agreeButton">
                            <h5 class="agree">콘테스트 참여 약관을 모두 확인하였으며, 해당 내용에 모두 동의합니다.</h5>
                            <div class="buttonWrap">
                                <button type="submit" onclick="check()">
                                    <i class="fa-solid fa-check"></i> 동의함
                                </button>
                            </div>
                        </div>
                    </div>

                </div><!--sectionWrap-->
            </section><!--section-->
        </div><!--mainWarap-->
    </main>
    <footer>

    </footer>
</body>
</html>
