<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/fragments/layout}">

<head>
    <link rel="stylesheet" th:href="@{/css/list/applyInfDetail.css}">
    <script th:src="@{/js/list/applyInfDetail.js}"></script>
    <style>

    </style>
</head>
<th:block layout:fragment="content">
    <main>
        <div class="mainWrap">
            <div class="contestWrap">
                <div class="contestInfo">
                    <h1><p><strong>
                        <span th:text="${applyDTO.applyTitle}"></span>
                    </p></strong></h1>

                    <!-- 지원 정보 표시 -->
                    <div class="applyDetails">
                        <p><strong>이메일 </strong>
                            <span th:text="${applyDTO.userEmail}"></span>
                        </p>
                        <p><strong>지원일 </strong>
                            <span th:text="${#dates.format(applyDTO.applyDate, 'yyyy-MM-dd')}"></span>
                        </p>
                        <div class="applyContent" th:if="${applyDTO.applyContent != null}">
                            <p><strong>설명</strong></p>
                            <div  th:text="${applyDTO.applyContent}"></div>
                        </div>
                        <!-- 이미지가 있을 경우 표시 -->
                        <div class="applyImage">
                            <p><strong>첨부 이미지</strong></p>
                            <img th:src="${applyDTO.imageUrl} == null ? '/img/fragments/noimg.png' :${applyDTO.imageUrl}" alt="첨부 이미지">
                        </div>
                    </div>

                    <!-- 버튼 -->
                    <div class="buttonArea">
                        <a th:href="@{/contest/view(contestNum=${applyDTO.conNum})}" class="btn">콘테스트 보기</a>
                    </div>
                </div>
            </div>
        </div>
    </main>
</th:block>

</html>
