<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/line-awesome/1.3.0/line-awesome/css/line-awesome.min.css"> -->
    <!-- <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script> -->
    <script src="https://code.jquery.com/jquery-3.6.4.js" integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E=" crossorigin="anonymous"></script>
    <!--  기존 방식 :  <link rel="stylesheet" href="main.css">-->
    <!--    thymeleaf를 이용한 CSS include-->
    <link rel="stylesheet" th:href="@{/css/list/main.css}"/>
    <link rel="stylesheet" th:href="@{/css/fragments/header.css}">
    <link rel="stylesheet" th:href="@{/css/fragments/footer.css}">
    <!--   기존 방식 : <script src="main.js"></script>-->
    <!--    thymeleaf를 이용한 JS include-->
    <script th:src="@{/js/list/main.js}"></script>
</head>
<body>
<!--    <header>-->
<header th:replace="~{fragments/header :: headerFragment}">

    </header>
    <main>
        <div class="mainWarap">
            <div class="banner">
                <div class="bannerContent">
                    <div class="bannerTitle">D'OH!!</div>
                    <div class="bannerText">감탄할만한 기발한 네이밍 센스 여기 다 있다!</div>
                </div>
            </div><!--banner 끝-->

            <div class="section A">
                <div class="title">요즘 인기 있는 콘테스트</div>
                <div class="cardConWarap">
                    <div class="bar">
                        <i class="fa-solid fa-chevron-left"></i>
                    </div>
                    <div class="cardList">
                        <a href="#">
                            <div class="cardImage">

                            </div>
                            <div class="content">
                                <div class="endDate">8일 남음</div>
                                <div class="conTitle">글로벌 한방 브랜드 네이밍 콘테스트</div>
                                <div class="conSub">
                                    <div class="context">헬스마켓</div>
                                    <div class="conIcon">
                                        <i class="fa-regular fa-hand-pointer"></i>
                                        <span class="context gray">363</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div><!--cardList-->
                    <div class="cardList">
                        <a href="#">
                            <div class="cardImage">

                            </div>
                            <div class="content">
                                <div class="endDate">8일 남음</div>
                                <div class="conTitle">글로벌 한방 브랜드 네이밍 콘테스트</div>
                                <div class="conSub">
                                    <div class="context">헬스마켓</div>
                                    <div class="conIcon">
                                        <i class="fa-regular fa-hand-pointer"></i>
                                        <span class="context gray">363</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div><!--cardList-->
                    <div class="cardList">
                        <a href="#">
                            <div class="cardImage">

                            </div>
                            <div class="content">
                                <div class="endDate">8일 남음</div>
                                <div class="conTitle">글로벌 한방 브랜드 네이밍 콘테스트</div>
                                <div class="conSub">
                                    <div class="context">헬스마켓</div>
                                    <div class="conIcon">
                                        <i class="fa-regular fa-hand-pointer"></i>
                                        <span class="context gray">363</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div><!--cardList-->
                    <div class="cardList">
                        <a href="#">
                            <div class="cardImage">

                            </div>
                            <div class="content">
                                <div class="endDate">8일 남음</div>
                                <div class="conTitle">글로벌 한방 브랜드 네이밍 콘테스트</div>
                                <div class="conSub">
                                    <div class="context">헬스마켓</div>
                                    <div class="conIcon">
                                        <i class="fa-regular fa-hand-pointer"></i>
                                        <span class="context gray">363</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div><!--cardList-->

                    <div class="bar">
                        <i class="fa-solid fa-chevron-right"></i>
                    </div>
                </div><!--cardConWarap-->
            </div><!--sectionA 끝-->

            <div class="section B">
                <div class="tabTitle">
                    <div class="title active">최신 콘테스트 TOP 5</div>
                    <div class="title">총 상금순 TOP 5</div>
                    <div class="title">조회순 TOP 5</div>
                </div>
                <div class="tabContent active" id="latest">
                    <a href="#">
                        <div class="list">
                            <div class="listContent">
                                <div class="conTitle"><span>1</span> 글로벌 한방 브랜드 네이밍 콘테스트</div>
                                <div class="listValue">
                                    <div class="organizer">헬스마켓</div>
                                    <div class="createDate">등록일 : 2024.08.27</div>
                                </div>
                            </div>
                            <div class="importData">
                                <div class="endDate">8일 남음</div>
                                <div class="price">상금 20만원</div>
                            </div>
                        </div>
                    </a>
                    <a href="#">
                        <div class="list">
                            <div class="listContent">
                                <div class="conTitle"><span>2</span> 글로벌 한방 브랜드 네이밍 콘테스트</div>
                                <div class="listValue">
                                    <div class="organizer">헬스마켓</div>
                                    <div class="createDate">등록일 : 2024.08.27</div>
                                </div>
                            </div>
                            <div class="importData">
                                <div class="endDate">8일 남음</div>
                                <div class="price">상금 20만원</div>
                            </div>
                        </div>
                    </a>
                    <a href="#">
                        <div class="list">
                            <div class="listContent">
                                <div class="conTitle"><span>3</span> 글로벌 한방 브랜드 네이밍 콘테스트</div>
                                <div class="listValue">
                                    <div class="organizer">헬스마켓</div>
                                    <div class="createDate">등록일 : 2024.08.27</div>
                                </div>
                            </div>
                            <div class="importData">
                                <div class="endDate">8일 남음</div>
                                <div class="price">상금 20만원</div>
                            </div>
                        </div>
                    </a>
                    <a href="#">
                        <div class="list">
                            <div class="listContent">
                                <div class="conTitle"><span>4</span> 글로벌 한방 브랜드 네이밍 콘테스트</div>
                                <div class="listValue">
                                    <div class="organizer">헬스마켓</div>
                                    <div class="createDate">등록일 : 2024.08.27</div>
                                </div>
                            </div>
                            <div class="importData">
                                <div class="endDate">8일 남음</div>
                                <div class="price">상금 20만원</div>
                            </div>
                        </div>
                    </a>
                    <a href="#">
                        <div class="list">
                            <div class="listContent">
                                <div class="conTitle"><span>5</span> 글로벌 한방 브랜드 네이밍 콘테스트</div>
                                <div class="listValue">
                                    <div class="organizer">헬스마켓</div>
                                    <div class="createDate">등록일 : 2024.08.27</div>
                                </div>
                            </div>
                            <div class="importData">
                                <div class="endDate">8일 남음</div>
                                <div class="price">상금 20만원</div>
                            </div>
                        </div>
                    </a>
                </div><!--tabContent-->
                <div class="tabContent" id="pariod">
                    <a href="#">
                        <div class="list">
                            <div class="listContent">
                                <div class="conTitle"><span>1</span> 글로벌 한방 브랜드 네이밍 콘테스트</div>
                                <div class="listValue">
                                    <div class="organizer">헬스마켓</div>
                                    <div class="createDate">마감일 : 2024.08.27</div>
                                </div>
                            </div>
                            <div class="importData">
                                <div class="endDate">8일 남음</div>
                                <div class="price">상금 20만원</div>
                            </div>
                        </div>
                    </a>
                    <a href="#">
                        <div class="list">
                            <div class="listContent">
                                <div class="conTitle"><span>2</span> 글로벌 한방 브랜드 네이밍 콘테스트</div>
                                <div class="listValue">
                                    <div class="organizer">헬스마켓</div>
                                    <div class="createDate">마감일 : 2024.08.27</div>
                                </div>
                            </div>
                            <div class="importData">
                                <div class="endDate">8일 남음</div>
                                <div class="price">상금 20만원</div>
                            </div>
                        </div>
                    </a>
                    <a href="#">
                        <div class="list">
                            <div class="listContent">
                                <div class="conTitle"><span>3</span> 글로벌 한방 브랜드 네이밍 콘테스트</div>
                                <div class="listValue">
                                    <div class="organizer">헬스마켓</div>
                                    <div class="createDate">마감일 : 2024.08.27</div>
                                </div>
                            </div>
                            <div class="importData">
                                <div class="endDate">8일 남음</div>
                                <div class="price">상금 20만원</div>
                            </div>
                        </div>
                    </a>
                    <a href="#">
                        <div class="list">
                            <div class="listContent">
                                <div class="conTitle"><span>4</span> 글로벌 한방 브랜드 네이밍 콘테스트</div>
                                <div class="listValue">
                                    <div class="organizer">헬스마켓</div>
                                    <div class="createDate">마감일 : 2024.08.27</div>
                                </div>
                            </div>
                            <div class="importData">
                                <div class="endDate">8일 남음</div>
                                <div class="price">상금 20만원</div>
                            </div>
                        </div>
                    </a>
                    <a href="#">
                        <div class="list">
                            <div class="listContent">
                                <div class="conTitle"><span>5</span> 글로벌 한방 브랜드 네이밍 콘테스트</div>
                                <div class="listValue">
                                    <div class="organizer">헬스마켓</div>
                                    <div class="createDate">마감일 : 2024.08.27</div>
                                </div>
                            </div>
                            <div class="importData">
                                <div class="endDate">8일 남음</div>
                                <div class="price">상금 20만원</div>
                            </div>
                        </div>
                    </a>
                </div><!--tabContent-->
                <div class="tabContent"  id="hit">
                    <a href="#">
                        <div class="list">
                            <div class="listContent">
                                <div class="conTitle"><span>1</span> 글로벌 한방 브랜드 네이밍 콘테스트</div>
                                <div class="listValue">
                                    <div class="organizer">헬스마켓</div>
                                    <div class="createDate">조회수 <span>363</span></div>
                                </div>
                            </div>
                            <div class="importData">
                                <div class="endDate">8일 남음</div>
                                <div class="price">상금 20만원</div>
                            </div>
                        </div>
                    </a>
                    <a href="#">
                        <div class="list">
                            <div class="listContent">
                                <div class="conTitle"><span>2</span> 글로벌 한방 브랜드 네이밍 콘테스트</div>
                                <div class="listValue">
                                    <div class="organizer">헬스마켓</div>
                                    <div class="createDate">조회수 <span>363</span></div>
                                </div>
                            </div>
                            <div class="importData">
                                <div class="endDate">8일 남음</div>
                                <div class="price">상금 20만원</div>
                            </div>
                        </div>
                    </a>
                    <a href="#">
                        <div class="list">
                            <div class="listContent">
                                <div class="conTitle"><span>3</span> 글로벌 한방 브랜드 네이밍 콘테스트</div>
                                <div class="listValue">
                                    <div class="organizer">헬스마켓</div>
                                    <div class="createDate">조회수 <span>363</span></div>
                                </div>
                            </div>
                            <div class="importData">
                                <div class="endDate">8일 남음</div>
                                <div class="price">상금 20만원</div>
                            </div>
                        </div>
                    </a>
                    <a href="#">
                        <div class="list">
                            <div class="listContent">
                                <div class="conTitle"><span>4</span> 글로벌 한방 브랜드 네이밍 콘테스트</div>
                                <div class="listValue">
                                    <div class="organizer">헬스마켓</div>
                                    <div class="createDate">조회수 <span>363</span></div>
                                </div>
                            </div>
                            <div class="importData">
                                <div class="endDate">8일 남음</div>
                                <div class="price">상금 20만원</div>
                            </div>
                        </div>
                    </a>
                    <a href="#">
                        <div class="list">
                            <div class="listContent">
                                <div class="conTitle"><span>5</span> 글로벌 한방 브랜드 네이밍 콘테스트</div>
                                <div class="listValue">
                                    <div class="organizer">헬스마켓</div>
                                    <div class="createDate">조회수 <span>363</span></div>
                                </div>
                            </div>
                            <div class="importData">
                                <div class="endDate">8일 남음</div>
                                <div class="price">상금 20만원</div>
                            </div>
                        </div>
                    </a>
                </div><!--tabContent-->
            </div><!--sectionB 끝-->
        </div>
    </main>
<!--    <footer>-->
<footer th:replace="~{fragments/footer :: footerFragment}">

    </footer>
</body>
</html>