<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/fragments/layout}">

<head>
    <title>메인 페이지</title>
    <link rel="stylesheet" th:href="@{/css/list/main.css}">
    <script th:src="@{/js/list/main.js}"></script>
    <!-- Swiper 라이브러리 추가 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
</head>

<th:block layout:fragment="content">

    <main>
        <div class="mainWrap">
            <div class="swiper mySwiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img th:src="@{/img/banner/한가위.png}" alt="Slide 1">
                    </div>
                    <div class="swiper-slide">
                        <img th:src="@{/img/banner/콘테스트.png}" alt="Slide 2">
                    </div>
                    <div class="swiper-slide">
                        <img th:src="@{/img/banner/채팅.png}" alt="Slide 3">
                    </div>
<!--                    <div class="swiper-slide">-->
<!--                        <img th:src="@{/img/banner/또우광고.png}" alt="Slide 4">-->
<!--                    </div>-->
                </div>

                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-pagination"></div>
            </div>

            <div class="section A">
                <div class="title">요즘 인기 있는 콘테스트</div>
                <div class="cardConWarap">
<!--                    <div class="bar">-->
<!--                        <i class="fa-solid fa-chevron-left"></i>-->
<!--                    </div>-->
                    <div class="cardList" th:each="list : ${imageList}">
                        <a href="#" th:href="@{/contest/view(contestNum=${list.id})}" th:onclick="hitUp(this)">
<!--                            <div class="cardImage">-->
                            <div class="cardImage" th:src="${list.imageUrl} == null ? '' : ${list.imageUrl}">

                            </div>
<!--                            </div>-->
                            <div class="content">
                                <div class="endDate"><span th:text="${list.endDate}">8</span>일 남음</div>
                                <div class="conTitle" th:text="${list.conTitle}">글로벌 한방 브랜드 네이밍 콘테스트</div>
                                <div class="conSub">
                                    <div class="context" th:text="${list.conCompanyName}">헬스마켓</div>
                                    <div class="conIcon">
<!--                                        <i class="fa-regular fa-hand-pointer"></i>-->
                                        <i class="bi bi-hand-index"></i>
                                        <span class="context gray" th:text="${list.conHit}">363</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div><!--cardList-->
<!--                    <div class="cardList">-->
<!--                        <a href="#">-->
<!--                            <div class="cardImage">-->

<!--                            </div>-->
<!--                            <div class="content">-->
<!--                                <div class="endDate">8일 남음</div>-->
<!--                                <div class="conTitle">글로벌 한방 브랜드 네이밍 콘테스트</div>-->
<!--                                <div class="conSub">-->
<!--                                    <div class="context">헬스마켓</div>-->
<!--                                    <div class="conIcon">-->
<!--                                        <i class="fa-regular fa-hand-pointer"></i>-->
<!--                                        <span class="context gray">363</span>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </a>-->
<!--                    </div>&lt;!&ndash;cardList&ndash;&gt;-->
<!--                    <div class="cardList">-->
<!--                        <a href="#">-->
<!--                            <div class="cardImage">-->

<!--                            </div>-->
<!--                            <div class="content">-->
<!--                                <div class="endDate">8일 남음</div>-->
<!--                                <div class="conTitle">글로벌 한방 브랜드 네이밍 콘테스트</div>-->
<!--                                <div class="conSub">-->
<!--                                    <div class="context">헬스마켓</div>-->
<!--                                    <div class="conIcon">-->
<!--                                        <i class="fa-regular fa-hand-pointer"></i>-->
<!--                                        <span class="context gray">363</span>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </a>-->
<!--                    </div>&lt;!&ndash;cardList&ndash;&gt;-->
<!--                    <div class="cardList">-->
<!--                        <a href="#">-->
<!--                            <div class="cardImage">-->

<!--                            </div>-->
<!--                            <div class="content">-->
<!--                                <div class="endDate">8일 남음</div>-->
<!--                                <div class="conTitle">글로벌 한방 브랜드 네이밍 콘테스트</div>-->
<!--                                <div class="conSub">-->
<!--                                    <div class="context">헬스마켓</div>-->
<!--                                    <div class="conIcon">-->
<!--                                        <i class="fa-regular fa-hand-pointer"></i>-->
<!--                                        <span class="context gray">363</span>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </a>-->
<!--                    </div>&lt;!&ndash;cardList&ndash;&gt;-->

<!--                    <div class="bar">-->
<!--                        <i class="fa-solid fa-chevron-right"></i>-->
<!--                    </div>-->
                </div><!--cardConWarap-->
            </div><!--sectionA 끝-->

            <div class="section B">
                <div class="tabTitle">
                    <div class="title active">최신 콘테스트 TOP 5</div>
                    <div class="title">총 상금순 TOP 5</div>
                    <div class="title">조회순 TOP 5</div>
                </div>
                <div class="tabContent active" id="latest">
                    <a href="#">
                        <div class="list">
                            <div class="listContent">
                                <div class="conTitle"><span>1</span> 글로벌 한방 브랜드 네이밍 콘테스트</div>
                                <div class="listValue">
                                    <div class="organizer">헬스마켓</div>
                                    <div class="createDate">등록일 : 2024.08.27</div>
                                </div>
                            </div>
                            <div class="importData">
                                <div class="endDate">8일 남음</div>
                                <div class="price">상금 20만원</div>
                            </div>
                        </div>
                    </a>
                    <a href="#">
                        <div class="list">
                            <div class="listContent">
                                <div class="conTitle"><span>2</span> 글로벌 한방 브랜드 네이밍 콘테스트</div>
                                <div class="listValue">
                                    <div class="organizer">헬스마켓</div>
                                    <div class="createDate">등록일 : 2024.08.27</div>
                                </div>
                            </div>
                            <div class="importData">
                                <div class="endDate">8일 남음</div>
                                <div class="price">상금 20만원</div>
                            </div>
                        </div>
                    </a>
                    <a href="#">
                        <div class="list">
                            <div class="listContent">
                                <div class="conTitle"><span>3</span> 글로벌 한방 브랜드 네이밍 콘테스트</div>
                                <div class="listValue">
                                    <div class="organizer">헬스마켓</div>
                                    <div class="createDate">등록일 : 2024.08.27</div>
                                </div>
                            </div>
                            <div class="importData">
                                <div class="endDate">8일 남음</div>
                                <div class="price">상금 20만원</div>
                            </div>
                        </div>
                    </a>
                    <a href="#">
                        <div class="list">
                            <div class="listContent">
                                <div class="conTitle"><span>4</span> 글로벌 한방 브랜드 네이밍 콘테스트</div>
                                <div class="listValue">
                                    <div class="organizer">헬스마켓</div>
                                    <div class="createDate">등록일 : 2024.08.27</div>
                                </div>
                            </div>
                            <div class="importData">
                                <div class="endDate">8일 남음</div>
                                <div class="price">상금 20만원</div>
                            </div>
                        </div>
                    </a>
                    <a href="#">
                        <div class="list">
                            <div class="listContent">
                                <div class="conTitle"><span>5</span> 글로벌 한방 브랜드 네이밍 콘테스트</div>
                                <div class="listValue">
                                    <div class="organizer">헬스마켓</div>
                                    <div class="createDate">등록일 : 2024.08.27</div>
                                </div>
                            </div>
                            <div class="importData">
                                <div class="endDate">8일 남음</div>
                                <div class="price">상금 20만원</div>
                            </div>
                        </div>
                    </a>
                </div><!--tabContent-->
                <div class="tabContent" id="pariod">
                    <a href="#">
                        <div class="list">
                            <div class="listContent">
                                <div class="conTitle"><span>1</span> 글로벌 한방 브랜드 네이밍 콘테스트</div>
                                <div class="listValue">
                                    <div class="organizer">헬스마켓</div>
                                    <div class="createDate">마감일 : 2024.08.27</div>
                                </div>
                            </div>
                            <div class="importData">
                                <div class="endDate">8일 남음</div>
                                <div class="price">상금 20만원</div>
                            </div>
                        </div>
                    </a>
                    <a href="#">
                        <div class="list">
                            <div class="listContent">
                                <div class="conTitle"><span>2</span> 글로벌 한방 브랜드 네이밍 콘테스트</div>
                                <div class="listValue">
                                    <div class="organizer">헬스마켓</div>
                                    <div class="createDate">마감일 : 2024.08.27</div>
                                </div>
                            </div>
                            <div class="importData">
                                <div class="endDate">8일 남음</div>
                                <div class="price">상금 20만원</div>
                            </div>
                        </div>
                    </a>
                    <a href="#">
                        <div class="list">
                            <div class="listContent">
                                <div class="conTitle"><span>3</span> 글로벌 한방 브랜드 네이밍 콘테스트</div>
                                <div class="listValue">
                                    <div class="organizer">헬스마켓</div>
                                    <div class="createDate">마감일 : 2024.08.27</div>
                                </div>
                            </div>
                            <div class="importData">
                                <div class="endDate">8일 남음</div>
                                <div class="price">상금 20만원</div>
                            </div>
                        </div>
                    </a>
                    <a href="#">
                        <div class="list">
                            <div class="listContent">
                                <div class="conTitle"><span>4</span> 글로벌 한방 브랜드 네이밍 콘테스트</div>
                                <div class="listValue">
                                    <div class="organizer">헬스마켓</div>
                                    <div class="createDate">마감일 : 2024.08.27</div>
                                </div>
                            </div>
                            <div class="importData">
                                <div class="endDate">8일 남음</div>
                                <div class="price">상금 20만원</div>
                            </div>
                        </div>
                    </a>
                    <a href="#">
                        <div class="list">
                            <div class="listContent">
                                <div class="conTitle"><span>5</span> 글로벌 한방 브랜드 네이밍 콘테스트</div>
                                <div class="listValue">
                                    <div class="organizer">헬스마켓</div>
                                    <div class="createDate">마감일 : 2024.08.27</div>
                                </div>
                            </div>
                            <div class="importData">
                                <div class="endDate">8일 남음</div>
                                <div class="price">상금 20만원</div>
                            </div>
                        </div>
                    </a>
                </div><!--tabContent-->
                <div class="tabContent"  id="hit">
                    <a href="#">
                        <div class="list">
                            <div class="listContent">
                                <div class="conTitle"><span>1</span> 글로벌 한방 브랜드 네이밍 콘테스트</div>
                                <div class="listValue">
                                    <div class="organizer">헬스마켓</div>
                                    <div class="createDate">조회수 <span>363</span></div>
                                </div>
                            </div>
                            <div class="importData">
                                <div class="endDate">8일 남음</div>
                                <div class="price">상금 20만원</div>
                            </div>
                        </div>
                    </a>
                    <a href="#">
                        <div class="list">
                            <div class="listContent">
                                <div class="conTitle"><span>2</span> 글로벌 한방 브랜드 네이밍 콘테스트</div>
                                <div class="listValue">
                                    <div class="organizer">헬스마켓</div>
                                    <div class="createDate">조회수 <span>363</span></div>
                                </div>
                            </div>
                            <div class="importData">
                                <div class="endDate">8일 남음</div>
                                <div class="price">상금 20만원</div>
                            </div>
                        </div>
                    </a>
                    <a href="#">
                        <div class="list">
                            <div class="listContent">
                                <div class="conTitle"><span>3</span> 글로벌 한방 브랜드 네이밍 콘테스트</div>
                                <div class="listValue">
                                    <div class="organizer">헬스마켓</div>
                                    <div class="createDate">조회수 <span>363</span></div>
                                </div>
                            </div>
                            <div class="importData">
                                <div class="endDate">8일 남음</div>
                                <div class="price">상금 20만원</div>
                            </div>
                        </div>
                    </a>
                    <a href="#">
                        <div class="list">
                            <div class="listContent">
                                <div class="conTitle"><span>4</span> 글로벌 한방 브랜드 네이밍 콘테스트</div>
                                <div class="listValue">
                                    <div class="organizer">헬스마켓</div>
                                    <div class="createDate">조회수 <span>363</span></div>
                                </div>
                            </div>
                            <div class="importData">
                                <div class="endDate">8일 남음</div>
                                <div class="price">상금 20만원</div>
                            </div>
                        </div>
                    </a>
                    <a href="#">
                        <div class="list">
                            <div class="listContent">
                                <div class="conTitle"><span>5</span> 글로벌 한방 브랜드 네이밍 콘테스트</div>
                                <div class="listValue">
                                    <div class="organizer">헬스마켓</div>
                                    <div class="createDate">조회수 <span>363</span></div>
                                </div>
                            </div>
                            <div class="importData">
                                <div class="endDate">8일 남음</div>
                                <div class="price">상금 20만원</div>
                            </div>
                        </div>
                    </a>
                </div><!--tabContent-->
            </div><!--sectionB 끝-->
        </div>
    </main>

</th:block>

</html>