<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/fragments/layout}">

<head>
    <meta charset="UTF-8">
    <title>메인 페이지</title>

    <!-- jQuery 추가 -->
    <script src="https://code.jquery.com/jquery-3.6.4.js"
            integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E=" crossorigin="anonymous"></script>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- 커스텀 CSS 및 JS 추가 -->
    <link rel="stylesheet" th:href="@{/css/list/main.css}">
    <link rel="stylesheet" th:href="@{/css/fragments/header.css}">
    <link rel="stylesheet" th:href="@{/css/fragments/footer.css}">
    <script th:src="@{/js/list/main.js}"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<th:block layout:fragment="content">
    <main>
        <div class="mainWarap">
            <div class="banner">
                <div class="bannerContent active">
                    <div class="bannerTitle">D'OH!!</div>
                    <div class="bannerText">“감탄할만한 기발한 네이밍 센스 여기 다 있다!”</div>
                    <a href="#">링크</a>
                </div>
                <div class="bannerContent">
                    <div class="bannerTitle">명절 관련 내용</div>
                    <div class="bannerText">"즐거운 명절, 창의적인 네이밍으로 더 특별하게!”</div>
                    <a href="#">링크</a>
                </div>
                <div class="bannerContent">
                    <div class="bannerTitle">포폴 상세에서 채팅 기능 가능</div>
                    <div class="bannerText">"작품에 대해 더 알고 싶으신가요? 채팅으로 바로 대화해보세요!”</div>
                    <a href="#">링크</a>
                </div>
                <div class="bannerContent">
                    <div class="bannerTitle">이벤트</div>
                    <div class="bannerText">"이벤트 참여하고 나만의 멋진 이름을 만들어보세요. 우승하면 푸짐한 상금까지!”</div>
                    <a href="#">링크</a>
                </div>
            </div>
            <div class="banner-controls">
                <button class="prev">이전</button>
                <button class="next">다음</button>
            </div>


            <div class="section A">
                <div class="title">요즘 인기 있는 콘테스트</div>
                <div class="cardConWarap">
                    <div class="bar">
                        <i class="fa-solid fa-chevron-left"></i>
                    </div>
                    <div class="cardList">
                        <a href="#">
                            <div class="cardImage">

                            </div>
                            <div class="content">
                                <div class="endDate">8일 남음</div>
                                <div class="conTitle">글로벌 한방 브랜드 네이밍 콘테스트</div>
                                <div class="conSub">
                                    <div class="context">헬스마켓</div>
                                    <div class="conIcon">
                                        <i class="fa-regular fa-hand-pointer"></i>
                                        <span class="context gray">363</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div><!--cardList-->
                    <div class="cardList">
                        <a href="#">
                            <div class="cardImage">

                            </div>
                            <div class="content">
                                <div class="endDate">8일 남음</div>
                                <div class="conTitle">글로벌 한방 브랜드 네이밍 콘테스트</div>
                                <div class="conSub">
                                    <div class="context">헬스마켓</div>
                                    <div class="conIcon">
                                        <i class="fa-regular fa-hand-pointer"></i>
                                        <span class="context gray">363</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div><!--cardList-->
                    <div class="cardList">
                        <a href="#">
                            <div class="cardImage">

                            </div>
                            <div class="content">
                                <div class="endDate">8일 남음</div>
                                <div class="conTitle">글로벌 한방 브랜드 네이밍 콘테스트</div>
                                <div class="conSub">
                                    <div class="context">헬스마켓</div>
                                    <div class="conIcon">
                                        <i class="fa-regular fa-hand-pointer"></i>
                                        <span class="context gray">363</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div><!--cardList-->
                    <div class="cardList">
                        <a href="#">
                            <div class="cardImage">

                            </div>
                            <div class="content">
                                <div class="endDate">8일 남음</div>
                                <div class="conTitle">글로벌 한방 브랜드 네이밍 콘테스트</div>
                                <div class="conSub">
                                    <div class="context">헬스마켓</div>
                                    <div class="conIcon">
                                        <i class="fa-regular fa-hand-pointer"></i>
                                        <span class="context gray">363</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div><!--cardList-->

                    <div class="bar">
                        <i class="fa-solid fa-chevron-right"></i>
                    </div>
                </div><!--cardConWarap-->
            </div><!--sectionA 끝-->

            <div class="section B">
                <div class="tabTitle">
                    <div class="title active">최신 콘테스트 TOP 5</div>
                    <div class="title">총 상금순 TOP 5</div>
                    <div class="title">조회순 TOP 5</div>
                </div>
                <div class="tabContent active" id="latest">
                    <a href="#">
                        <div class="list">
                            <div class="listContent">
                                <div class="conTitle"><span>1</span> 글로벌 한방 브랜드 네이밍 콘테스트</div>
                                <div class="listValue">
                                    <div class="organizer">헬스마켓</div>
                                    <div class="createDate">등록일 : 2024.08.27</div>
                                </div>
                            </div>
                            <div class="importData">
                                <div class="endDate">8일 남음</div>
                                <div class="price">상금 20만원</div>
                            </div>
                        </div>
                    </a>
                    <a href="#">
                        <div class="list">
                            <div class="listContent">
                                <div class="conTitle"><span>2</span> 글로벌 한방 브랜드 네이밍 콘테스트</div>
                                <div class="listValue">
                                    <div class="organizer">헬스마켓</div>
                                    <div class="createDate">등록일 : 2024.08.27</div>
                                </div>
                            </div>
                            <div class="importData">
                                <div class="endDate">8일 남음</div>
                                <div class="price">상금 20만원</div>
                            </div>
                        </div>
                    </a>
                    <a href="#">
                        <div class="list">
                            <div class="listContent">
                                <div class="conTitle"><span>3</span> 글로벌 한방 브랜드 네이밍 콘테스트</div>
                                <div class="listValue">
                                    <div class="organizer">헬스마켓</div>
                                    <div class="createDate">등록일 : 2024.08.27</div>
                                </div>
                            </div>
                            <div class="importData">
                                <div class="endDate">8일 남음</div>
                                <div class="price">상금 20만원</div>
                            </div>
                        </div>
                    </a>
                    <a href="#">
                        <div class="list">
                            <div class="listContent">
                                <div class="conTitle"><span>4</span> 글로벌 한방 브랜드 네이밍 콘테스트</div>
                                <div class="listValue">
                                    <div class="organizer">헬스마켓</div>
                                    <div class="createDate">등록일 : 2024.08.27</div>
                                </div>
                            </div>
                            <div class="importData">
                                <div class="endDate">8일 남음</div>
                                <div class="price">상금 20만원</div>
                            </div>
                        </div>
                    </a>
                    <a href="#">
                        <div class="list">
                            <div class="listContent">
                                <div class="conTitle"><span>5</span> 글로벌 한방 브랜드 네이밍 콘테스트</div>
                                <div class="listValue">
                                    <div class="organizer">헬스마켓</div>
                                    <div class="createDate">등록일 : 2024.08.27</div>
                                </div>
                            </div>
                            <div class="importData">
                                <div class="endDate">8일 남음</div>
                                <div class="price">상금 20만원</div>
                            </div>
                        </div>
                    </a>
                </div><!--tabContent-->
                <div class="tabContent" id="pariod">
                    <a href="#">
                        <div class="list">
                            <div class="listContent">
                                <div class="conTitle"><span>1</span> 글로벌 한방 브랜드 네이밍 콘테스트</div>
                                <div class="listValue">
                                    <div class="organizer">헬스마켓</div>
                                    <div class="createDate">마감일 : 2024.08.27</div>
                                </div>
                            </div>
                            <div class="importData">
                                <div class="endDate">8일 남음</div>
                                <div class="price">상금 20만원</div>
                            </div>
                        </div>
                    </a>
                    <a href="#">
                        <div class="list">
                            <div class="listContent">
                                <div class="conTitle"><span>2</span> 글로벌 한방 브랜드 네이밍 콘테스트</div>
                                <div class="listValue">
                                    <div class="organizer">헬스마켓</div>
                                    <div class="createDate">마감일 : 2024.08.27</div>
                                </div>
                            </div>
                            <div class="importData">
                                <div class="endDate">8일 남음</div>
                                <div class="price">상금 20만원</div>
                            </div>
                        </div>
                    </a>
                    <a href="#">
                        <div class="list">
                            <div class="listContent">
                                <div class="conTitle"><span>3</span> 글로벌 한방 브랜드 네이밍 콘테스트</div>
                                <div class="listValue">
                                    <div class="organizer">헬스마켓</div>
                                    <div class="createDate">마감일 : 2024.08.27</div>
                                </div>
                            </div>
                            <div class="importData">
                                <div class="endDate">8일 남음</div>
                                <div class="price">상금 20만원</div>
                            </div>
                        </div>
                    </a>
                    <a href="#">
                        <div class="list">
                            <div class="listContent">
                                <div class="conTitle"><span>4</span> 글로벌 한방 브랜드 네이밍 콘테스트</div>
                                <div class="listValue">
                                    <div class="organizer">헬스마켓</div>
                                    <div class="createDate">마감일 : 2024.08.27</div>
                                </div>
                            </div>
                            <div class="importData">
                                <div class="endDate">8일 남음</div>
                                <div class="price">상금 20만원</div>
                            </div>
                        </div>
                    </a>
                    <a href="#">
                        <div class="list">
                            <div class="listContent">
                                <div class="conTitle"><span>5</span> 글로벌 한방 브랜드 네이밍 콘테스트</div>
                                <div class="listValue">
                                    <div class="organizer">헬스마켓</div>
                                    <div class="createDate">마감일 : 2024.08.27</div>
                                </div>
                            </div>
                            <div class="importData">
                                <div class="endDate">8일 남음</div>
                                <div class="price">상금 20만원</div>
                            </div>
                        </div>
                    </a>
                </div><!--tabContent-->
                <div class="tabContent"  id="hit">
                    <a href="#">
                        <div class="list">
                            <div class="listContent">
                                <div class="conTitle"><span>1</span> 글로벌 한방 브랜드 네이밍 콘테스트</div>
                                <div class="listValue">
                                    <div class="organizer">헬스마켓</div>
                                    <div class="createDate">조회수 <span>363</span></div>
                                </div>
                            </div>
                            <div class="importData">
                                <div class="endDate">8일 남음</div>
                                <div class="price">상금 20만원</div>
                            </div>
                        </div>
                    </a>
                    <a href="#">
                        <div class="list">
                            <div class="listContent">
                                <div class="conTitle"><span>2</span> 글로벌 한방 브랜드 네이밍 콘테스트</div>
                                <div class="listValue">
                                    <div class="organizer">헬스마켓</div>
                                    <div class="createDate">조회수 <span>363</span></div>
                                </div>
                            </div>
                            <div class="importData">
                                <div class="endDate">8일 남음</div>
                                <div class="price">상금 20만원</div>
                            </div>
                        </div>
                    </a>
                    <a href="#">
                        <div class="list">
                            <div class="listContent">
                                <div class="conTitle"><span>3</span> 글로벌 한방 브랜드 네이밍 콘테스트</div>
                                <div class="listValue">
                                    <div class="organizer">헬스마켓</div>
                                    <div class="createDate">조회수 <span>363</span></div>
                                </div>
                            </div>
                            <div class="importData">
                                <div class="endDate">8일 남음</div>
                                <div class="price">상금 20만원</div>
                            </div>
                        </div>
                    </a>
                    <a href="#">
                        <div class="list">
                            <div class="listContent">
                                <div class="conTitle"><span>4</span> 글로벌 한방 브랜드 네이밍 콘테스트</div>
                                <div class="listValue">
                                    <div class="organizer">헬스마켓</div>
                                    <div class="createDate">조회수 <span>363</span></div>
                                </div>
                            </div>
                            <div class="importData">
                                <div class="endDate">8일 남음</div>
                                <div class="price">상금 20만원</div>
                            </div>
                        </div>
                    </a>
                    <a href="#">
                        <div class="list">
                            <div class="listContent">
                                <div class="conTitle"><span>5</span> 글로벌 한방 브랜드 네이밍 콘테스트</div>
                                <div class="listValue">
                                    <div class="organizer">헬스마켓</div>
                                    <div class="createDate">조회수 <span>363</span></div>
                                </div>
                            </div>
                            <div class="importData">
                                <div class="endDate">8일 남음</div>
                                <div class="price">상금 20만원</div>
                            </div>
                        </div>
                    </a>
                </div><!--tabContent-->
            </div><!--sectionB 끝-->
        </div>
    </main>

</th:block>

</html>