<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/fragments/layout}">
<head>
    <link rel="stylesheet" th:href="@{/css/list/portfolioList.css}">
</head>
<th:block layout:fragment="content">
    <main>
        <div class="mainWrap">
            <nav class="filterWrap">
                <div class="filter left">
                    <!-- <button type="button">
                        <i class="fa-solid fa-crown"></i>
                        콘테스트 우승
                    </button> -->
                    <div>
                        <label class="type">
                            <input type="checkbox" name="" id="#" class="check">
                            <i class="fa-solid fa-crown"></i>
                            콘테스트 우승
                        </label>
                    </div>
                    <!-- <button type="button"> -->
                    <div>
                        <label class="type">
                            <input type="checkbox" name="" id="" class="check">
                            <i class="fa-solid fa-people-arrows"></i>
                            1 : 1 의뢰 가능
                        </label>
                    </div>
                    <!-- </button> -->
                </div><!--filter left-->

                <!-- <div class="filter right"> -->
                    <button type="button" class="filter right">
                        추천순
                    </button>
                <!-- </div>filter right -->
            </nav><!--filterWrap-->
            
            <section>
                <div class="cardList" th:each="list : ${portfolioList}">
                    <a href="#" th:href="@{/portfolio/list/detail(portfolioId=${list.id})}">
                        <img class="img" th:src="${list.personalWork}">
                            <!--포토폴리오 이미지가 들어갈 영역-->
                        </img>
                        <div class="portfolioSummary">
                            <div class="title" th:text="${list.title}">식품 브랜드 밀잇 브랜드 콘테스트</div>
                            <div class="info">
                                <h5 th:text="${list.userNickname}">싱싱한초록546</h5> ·
                                <div class="hit">
                                    조회수 <span th:text="${list.profileHit}">363</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div><!--cardList-->
<!--                <div class="cardList">-->
<!--                    <a href="#">-->
<!--                        <div class="img">-->
<!--                            &lt;!&ndash;포토폴리오가 들어갈 영역&ndash;&gt;-->
<!--                        </div>-->
<!--                        <div class="portfolioSummary">-->
<!--                            <div class="title">식품 브랜드 밀잇 브랜드 콘테스트</div>-->
<!--                            <div class="info">-->
<!--                                <h5>싱싱한초록546</h5> ·-->
<!--                                <div class="hit">-->
<!--                                    조회수 363-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </a>-->
<!--                </div>&lt;!&ndash;cardList&ndash;&gt;-->
<!--                <div class="cardList">-->
<!--                    <a href="#">-->
<!--                        <div class="img">-->
<!--                            &lt;!&ndash;포토폴리오가 들어갈 영역&ndash;&gt;-->
<!--                        </div>-->
<!--                        <div class="portfolioSummary">-->
<!--                            <div class="title">식품 브랜드 밀잇 브랜드 콘테스트</div>-->
<!--                            <div class="info">-->
<!--                                <h5>싱싱한초록546</h5> ·-->
<!--                                <div class="hit">-->
<!--                                    조회수 363-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </a>-->
<!--                </div>&lt;!&ndash;cardList&ndash;&gt;-->
<!--                <div class="cardList">-->
<!--                    <a href="#">-->
<!--                        <div class="img">-->
<!--                            &lt;!&ndash;포토폴리오가 들어갈 영역&ndash;&gt;-->
<!--                        </div>-->
<!--                        <div class="portfolioSummary">-->
<!--                            <div class="title">식품 브랜드 밀잇 브랜드 콘테스트</div>-->
<!--                            <div class="info">-->
<!--                                <h5>싱싱한초록546</h5> ·-->
<!--                                <div class="hit">-->
<!--                                    조회수 363-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </a>-->
<!--                </div>&lt;!&ndash;cardList&ndash;&gt;-->
<!--                <div class="cardList">-->
<!--                    <a href="#">-->
<!--                        <div class="img">-->
<!--                            &lt;!&ndash;포토폴리오가 들어갈 영역&ndash;&gt;-->
<!--                        </div>-->
<!--                        <div class="portfolioSummary">-->
<!--                            <div class="title">식품 브랜드 밀잇 브랜드 콘테스트</div>-->
<!--                            <div class="info">-->
<!--                                <h5>싱싱한초록546</h5> ·-->
<!--                                <div class="hit">-->
<!--                                    조회수 363-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </a>-->
<!--                </div>&lt;!&ndash;cardList&ndash;&gt;-->
<!--                <div class="cardList">-->
<!--                    <a href="#">-->
<!--                        <div class="img">-->
<!--                            &lt;!&ndash;포토폴리오가 들어갈 영역&ndash;&gt;-->
<!--                        </div>-->
<!--                        <div class="portfolioSummary">-->
<!--                            <div class="title">식품 브랜드 밀잇 브랜드 콘테스트</div>-->
<!--                            <div class="info">-->
<!--                                <h5>싱싱한초록546</h5> ·-->
<!--                                <div class="hit">-->
<!--                                    조회수 363-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </a>-->
<!--                </div>&lt;!&ndash;cardList&ndash;&gt;-->
<!--                <div class="cardList">-->
<!--                    <a href="#">-->
<!--                        <div class="img">-->
<!--                            &lt;!&ndash;포토폴리오가 들어갈 영역&ndash;&gt;-->
<!--                        </div>-->
<!--                        <div class="portfolioSummary">-->
<!--                            <div class="title">식품 브랜드 밀잇 브랜드 콘테스트</div>-->
<!--                            <div class="info">-->
<!--                                <h5>싱싱한초록546</h5> ·-->
<!--                                <div class="hit">-->
<!--                                    조회수 363-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </a>-->
<!--                </div>&lt;!&ndash;cardList&ndash;&gt;-->
<!--                <div class="cardList">-->
<!--                    <a href="#">-->
<!--                        <div class="img">-->
<!--                            &lt;!&ndash;포토폴리오가 들어갈 영역&ndash;&gt;-->
<!--                        </div>-->
<!--                        <div class="portfolioSummary">-->
<!--                            <div class="title">식품 브랜드 밀잇 브랜드 콘테스트</div>-->
<!--                            <div class="info">-->
<!--                                <h5>싱싱한초록546</h5> ·-->
<!--                                <div class="hit">-->
<!--                                    조회수 363-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </a>-->
<!--                </div>&lt;!&ndash;cardList&ndash;&gt;-->
<!--                <div class="cardList">-->
<!--                    <a href="#">-->
<!--                        <div class="img">-->
<!--                            &lt;!&ndash;포토폴리오가 들어갈 영역&ndash;&gt;-->
<!--                        </div>-->
<!--                        <div class="portfolioSummary">-->
<!--                            <div class="title">식품 브랜드 밀잇 브랜드 콘테스트</div>-->
<!--                            <div class="info">-->
<!--                                <h5>싱싱한초록546</h5> ·-->
<!--                                <div class="hit">-->
<!--                                    조회수 363-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </a>-->
<!--                </div>&lt;!&ndash;cardList&ndash;&gt;-->
<!--                <div class="cardList">-->
<!--                    <a href="#">-->
<!--                        <div class="img">-->
<!--                            &lt;!&ndash;포토폴리오가 들어갈 영역&ndash;&gt;-->
<!--                        </div>-->
<!--                        <div class="portfolioSummary">-->
<!--                            <div class="title">식품 브랜드 밀잇 브랜드 콘테스트</div>-->
<!--                            <div class="info">-->
<!--                                <h5>싱싱한초록546</h5> ·-->
<!--                                <div class="hit">-->
<!--                                    조회수 363-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </a>-->
<!--                </div>&lt;!&ndash;cardList&ndash;&gt;-->
<!--                <div class="cardList">-->
<!--                    <a href="#">-->
<!--                        <div class="img">-->
<!--                            &lt;!&ndash;포토폴리오가 들어갈 영역&ndash;&gt;-->
<!--                        </div>-->
<!--                        <div class="portfolioSummary">-->
<!--                            <div class="title">식품 브랜드 밀잇 브랜드 콘테스트</div>-->
<!--                            <div class="info">-->
<!--                                <h5>싱싱한초록546</h5> ·-->
<!--                                <div class="hit">-->
<!--                                    조회수 363-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </a>-->
<!--                </div>&lt;!&ndash;cardList&ndash;&gt;-->
<!--                <div class="cardList">-->
<!--                    <a href="#">-->
<!--                        <div class="img">-->
<!--                            &lt;!&ndash;포토폴리오가 들어갈 영역&ndash;&gt;-->
<!--                        </div>-->
<!--                        <div class="portfolioSummary">-->
<!--                            <div class="title">식품 브랜드 밀잇 브랜드 콘테스트</div>-->
<!--                            <div class="info">-->
<!--                                <h5>싱싱한초록546</h5> ·-->
<!--                                <div class="hit">-->
<!--                                    조회수 363-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </a>-->
<!--                </div>&lt;!&ndash;cardList&ndash;&gt;-->
<!--                <div class="cardList">-->
<!--                    <a href="#">-->
<!--                        <div class="img">-->
<!--                            &lt;!&ndash;포토폴리오가 들어갈 영역&ndash;&gt;-->
<!--                        </div>-->
<!--                        <div class="portfolioSummary">-->
<!--                            <div class="title">식품 브랜드 밀잇 브랜드 콘테스트</div>-->
<!--                            <div class="info">-->
<!--                                <h5>싱싱한초록546</h5> ·-->
<!--                                <div class="hit">-->
<!--                                    조회수 363-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </a>-->
<!--                </div>&lt;!&ndash;cardList&ndash;&gt;-->
<!--                <div class="cardList">-->
<!--                    <a href="#">-->
<!--                        <div class="img">-->
<!--                            &lt;!&ndash;포토폴리오가 들어갈 영역&ndash;&gt;-->
<!--                        </div>-->
<!--                        <div class="portfolioSummary">-->
<!--                            <div class="title">식품 브랜드 밀잇 브랜드 콘테스트</div>-->
<!--                            <div class="info">-->
<!--                                <h5>싱싱한초록546</h5> ·-->
<!--                                <div class="hit">-->
<!--                                    조회수 363-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </a>-->
<!--                </div>&lt;!&ndash;cardList&ndash;&gt;-->
<!--                <div class="cardList">-->
<!--                    <a href="#">-->
<!--                        <div class="img">-->
<!--                            &lt;!&ndash;포토폴리오가 들어갈 영역&ndash;&gt;-->
<!--                        </div>-->
<!--                        <div class="portfolioSummary">-->
<!--                            <div class="title">식품 브랜드 밀잇 브랜드 콘테스트</div>-->
<!--                            <div class="info">-->
<!--                                <h5>싱싱한초록546</h5> ·-->
<!--                                <div class="hit">-->
<!--                                    조회수 363-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </a>-->
<!--                </div>&lt;!&ndash;cardList&ndash;&gt;-->
<!--                <div class="cardList">-->
<!--                    <a href="#">-->
<!--                        <div class="img">-->
<!--                            &lt;!&ndash;포토폴리오가 들어갈 영역&ndash;&gt;-->
<!--                        </div>-->
<!--                        <div class="portfolioSummary">-->
<!--                            <div class="title">식품 브랜드 밀잇 브랜드 콘테스트</div>-->
<!--                            <div class="info">-->
<!--                                <h5>싱싱한초록546</h5> ·-->
<!--                                <div class="hit">-->
<!--                                    조회수 363-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </a>-->
<!--                </div>&lt;!&ndash;cardList&ndash;&gt;-->
            </section>

            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                  <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                    </a>
                  </li>
                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                      <span aria-hidden="true">&raquo;</span>
                    </a>
                  </li>
                </ul>
              </nav>
        </div><!--mainWrap-->
    </main>
</th:block>
</html>