<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>이메일 인증</title>
</head>
<body style="font-family: Arial, sans-serif; text-align: center;">
<p style="color: #333; font-size: 14px; margin-top: 20px; text-align: center;">D'OH 서비스를 이용해주셔서 감사합니다.</p>
<p style="color: #333; font-size: 16px; font-weight: bold; margin-bottom: 20px; text-align: center;">가입화면에서 아래 인증 번호를 입력해주세요.</p>
<strong th:text="${authCode}" style="display: block; margin: 20px auto; padding: 10px; background-color: #f4f4f4; border: 1px solid #ddd; font-size: 32px; color: #333; width: 200px; text-align: center; border-radius: 10px;"></strong>
</body>
</html>