<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/fragments/layout}" lang="kr">

<head>
    <meta charset="UTF-8">
    <title>페이지</title>

    <!-- jQuery 추가 -->
    <script src="https://code.jquery.com/jquery-3.6.4.js"
            integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E=" crossorigin="anonymous"></script>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- 커스텀 CSS 및 JS 추가 -->
    <link rel="stylesheet" th:href="@{/css/user/MyPage.css}">
    <link rel="stylesheet" th:href="@{/css/fragments/header.css}">
    <link rel="stylesheet" th:href="@{/css/fragments/footer.css}">
    <script type="text/javascript" th:src="@{/js/user/MyPage.js}"></script>

</head>
<th:block layout:fragment="content">
    <body>
    <!-- <banner>
        <img th:src="@{/img/banner.png}" alt="banner"  height="240px">
    </banner> -->
    <form method="get" action="/users/mypage">
    <main>
        <div class="container">
            <div class="sidebar">
                <img th:src="@{/img/quokka.jpg}" alt="quokka"><br>
                <div class="username">
                    <p th:if="${profile != null and profile?.userNickName != null}" th:text="${profile?.userNickName}" style="font-size: 15px"></p>
                    <p th:if="${profile == null or profile?.userNickName == null}" th:text="${myPageDTO?.userEmail}"></p>
                </div>
                <div>
                    <p th:if="${profile != null and profile?.myPageUrl != null}" th:text="${profile?.myPageUrl}"></p>
                    <p th:if="${profile == null or profile?.myPageUrl == null}">정보 없음</p>
                </div>
                <a href="/users/mypage/profile/write" class="edit-profile">프로필 수정하기</a>
                <div class="activity">
                    <div class="section-title">
                        <h6>라우드 활동</h6>
                    </div>
                    <div>
                        연락 가능 시간: <p th:if="${profile != null and profile?.messageStart != null}" th:text="${profile.messageStart}"></p>~
                        <p th:if="${profile == null or profile?.messageStart == null}">정보 없음</p>
                        <p th:if="${profile != null and profile?.messageEnd != null}" th:text="${profile.messageEnd}"></p>
                        <p th:if="${profile == null or profile?.messageEnd == null}">정보 없음</p>
                    </div>
                </div>
            </div> <!-- sidebar end -->
            <div class="main-class">
                <a href="/users/mypage/profile/write" class="profilewrite" th:if="${profile == null or profile?.profileOneLiner == null}">프로필 작성하러가기</a>
                <div class="profileOneLiner">
                    <p th:if="${profile != null and profile?.profileOneLiner != null}" th:text="${profile?.profileOneLiner}"></p>
                </div>
                <div class="profileIntroduce">
                    <p th:if="${profile !=null and profile?.profileIntroduce != null}" th:text="${profile?.profileIntroduce}"></p>
                </div>
            </div>
            <div class="button-class">
                <div class="profilesetting">
                    <a href="/users/mypage" class="underline">프로필 설정</a>
                </div>
                <div class="portfolio">
                     <a href="/users/mypage/portfolio" class="underline">포트폴리오</a>
                </div>
                <div class="upload">
                    <a href="/users/mypage/upload" class="underline">작품 업로드하기</a>
                </div>
            </div> <!-- button-class end -->
            <div class="management">
                <div><h6>참여한 공모전</h6><hr></div>
                <div class="imagecard"></div>
                <div class="imagecard"></div>
                <div class="imagecard"></div>
                <div class="imagecard"></div>
                <div class="imagecard"></div>

            </div>
            <div class="commition">
                <div><h6>공모전 의뢰 목록</h6><hr></div>
                <div class="commition1">
                    <div>회사를 차리는데 회사 이름 추천 해주세요~</div>
                    <div>회사를 차리는데 회사 이름 추천 해주세요~</div>
                    <div>회사를 차리는데 회사 이름 추천 해주세요~</div>
                    <div>회사를 차리는데 회사 이름 추천 해주세요~</div>
                    <div>회사를 차리는데 회사 이름 추천 해주세요~</div>
                    <div>회사를 차리는데 회사 이름 추천 해주세요~</div>
                    <div>회사를 차리는데 회사 이름 추천 해주세요~</div>
                </div>
            </div>

            </div> <!-- container end -->
        </main>
    </form>
    </body>
</th:block>

</html>
