<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/fragments/layout}">
<head>
    <link rel="stylesheet" th:href="@{/css/user/MyPageUpload.css}">
    <script type="text/javascript" th:src="@{/js/user/MyPageUpload.js}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<th:block layout:fragment="content">
    <form method="post" action="/mypage/upload" enctype="multipart/form-data">
    <main>
        <div class="mainWarap">
            <div class="contestWarap">
                <div class="contestInfo">
                    <div class="day"></div>
                    <div class="contitle">작품 업로드</div>
                    <div class="applyInfo">
                        <div class="info"></div>
                        <div class="info"></div>
                    </div>
                </div> <!--contestInfo-->
            </div><!--contestWarap-->

            <section>
                <div class="applyContent">
                    <label>
                        <input type="text" placeholder="제목을 입력해주세요." name="title">
                    </label>
                    <div class="contArea"><div id="image-preview-box"></div></div>
                </div>
                <div class="applyWarap">
                    <div class="applyInput">
                        <div class="InputArea">
                            <label for="image" class="imageUpload">
                                <div class="content" name="content">
                                    <span class="Image">
                                        <i class="fa-regular fa-image"></i>
                                    </span>
                                    <div class="inputText">이미지 추가</div>
                                </div>
                            </label>
                            <input type="file" name="personalWork" id="image" multiple onchange="previewImage(event)">
                        </div>
                        <div class="InputArea">
                            <div class="content text">
                                <span class="Image">
                                    <i class="fa-regular fa-pen-to-square"></i>
                                </span>
                                <div class="inputText">텍스트 추가</div>
                            </div>
                        </div>
                    </div><!--applyInput-->
                    <button type="button" class="temporary">임시 저장</button>
                    <button type="submit" class="apply">개인 작품 등록하기</button>
                <div class="oc">
                    <input type="radio" id="open" name="oc">
                    <label for="open" class="open">공개</label>
                    <input type="radio" id="close" name="oc">
                    <label for="close" class="close">비공개</label>
                </div>
                <div class="back">
                    <a href="/mypage" class="mypageback">마이페이지 돌아가기</a>
                </div>
                </div><!--applyWarap-->
            </section>
        </div>
    </main>
    </form>
</th:block>

</html>
