<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/fragments/layout">

<head>
    <meta charset="UTF-8">
    <title>페이지</title>

    <!-- jQuery 추가 -->
    <script src="https://code.jquery.com/jquery-3.6.4.js"
            integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E=" crossorigin="anonymous"></script>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- 커스텀 CSS 및 JS 추가 -->
    <link rel="stylesheet" th:href="@{/css/user/portfolioDetail.css}" />
    <link rel="stylesheet" th:href="@{/css/fragments/header.css}">
    <link rel="stylesheet" th:href="@{/css/fragments/footer.css}">
    <script type="text/javascript" th:src="@{/js/user/portfolioDetail.js}"></script>

</head>
<th:block layout:fragment="content">

<main>
        <div class="banner"></div><!--banner-->

        <section>
            <div class="mainWrap">
                <div class="portfolioWrap">
                    <div class="portfolioMain">
                        <!-- 포토폴리오 첫번 째 이미지가 출력될 부분 -->
                    </div><!--portfolioMain-->

                    <div class="description">
                        <div class="title">
                            담벼리
                        </div>
                        <h5>포토폴리오 소개</h5>
                    </div><!--description-->
                    <article>
                        <div>
                            <!-- 이미지 파일 출력될 부분 -->
                        </div>
                        <div class="title">포토폴리오 설명</div>
                        <div class="content">
                            담벼리라는 이름은 담 + 벼리의 합성어입니다.
                            벼리라는 뜻은 어떤 일이나 일의 뼈대를 이루는 줄거리를 말하는 순 우리말입니다.
                            집의 입구인 대문과, 집을 두르는 담장은 나의 공간, 우리의 공간이라는 가치를 더욱 높여주는 역할을 합니다.
                            집이 가니는 역할의 뼈대라고 생각되어지는 담장이라는 개념을 벼리라는 이름과 합하여 '담벼리'라는 이름으로 완성하였습니다.

                            로고에서 보이는 그림은 좌측에 있는 대문을 표현하였고 옆으로 대문을 잇는 담장과 담장 뒤에 보이는 조경이 어우러지게 표현될 수 있도록 하였습니다.
                        </div>
                    </article>
                </div><!--applyWrap-->

                <aside>
                    <figure>
                        <div class="title">디자이너 정보</div>
                        <div class="info">
                            <div class="user">waylog</div>
                            <div class="user more">
                                디자이너 소개
                                <i class="fa-solid fa-angle-down"></i>
                            </div>
                        </div>
                        <div class="profileInfo">
                            웨이로그디자인은 심플하고 감각적인 디자인을 추구합니다. : )
                            남들과는 다른 한끗을 살려 고객님의 브랜드에 전문성과 퀄리티를 높이기 위해 책임감을 가지고 작업합니다.
                            심플하면서 의미를 가득 살린 웨이로그만의 디자인으로 내 브랜드에 감성을 더해가세요 : )
                        </div>
                    </figure>

                    <figure>
                        <div class="title">디자이너님의 다른 작품</div>
                        <div class="cardList">
                            <div class="list">
                                <!--포토폴리오 이미지 영역-->
                            </div>
                            <div class="list">
                                <!--포토폴리오 이미지 영역-->
                            </div>
                            <div class="list">
                                <!--포토폴리오 이미지 영역-->
                            </div>
                            <div class="list">
                                <!--포토폴리오 이미지 영역-->
                            </div>
                            <div class="list"><!--더보기 영역-->
                                <i class="fa-solid fa-plus"></i>
                            </div>
                        </div>
                    </figure><!--figure-->
                    <!--임시값으로 aaaa 고정 -->
                    <!--추후 사용자 닉네임 저장하는 로직 구현되면 닉네임을 쿼리로 넘겨야함 -->
                    <a href="/users/chat?creator=aaaa">
                        <button type="button" >디자이너에게 문의하기</button>
                    </a>
                </aside><!--sectionInfo-->
            </div><!--mainWrap-->

        </section>
    </main>
</th:block>

</html>