<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="footerFragment">
    <footer class="footer">
        <div class="contact-info">
            주소 : 부산 부산진구 중앙대로 749<br>
            대표전화 : 051-295-4863 (평일 09시-18시)<br>
            대표 : 임하진<br>
            임원 : 문균호, 한도훈, 조해욱, 차혜영, 박유진
        </div>
        <div class="links">
            <a href="#">이용안내</a>
            <a href="#">개인정보처리방침</a>
            <a href="#">저작권정책</a>
        </div>
        <div class="copyright">
            &copy; The Government of the Republic of Korea. All rights reserved.
        </div>
    </footer>
</th:block>

</html>