<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/fragments/quickMenu.css}">
    <script th:src="@{/js/list/quickMenu.js}"></script>
</head>

<body>
    <div class="quickMenu">
        <ul>
            <li class="list chat" onclick="chatting()">
                <span class="icon">
                    <i class="fa-regular fa-comment-dots"></i>
                </span>
                <input type="hidden" id="cnt" value="0"> 
                <div class="text" id="txtNone">
                    <div class="wrap">
                        진행중인 채팅이 없습니다.
                    </div>
                </div>
                <div class="text" id="txtOn">
                    <div class="wrap">
                        <div class="chatImg"></div>
                        <div class="infoWrap">
                            <div class="content">
                                <div class="name">새침한 차혜영</div>
                                <div class="day"><span>1</span>일 전</div>
                            </div>
                            <div class="info">
                                <div class="introduce">
                                    밥을 먹으면 행복카다. 밥을...
                                </div>
                                <div class="num">
                                    <span>1</span>
                                </div>
                            </div>
                        </div><!--infoWrap-->
                    </div><!--wrap-->
                    <div class="wrap">
                        <div class="chatImg"></div>
                        <div class="infoWrap">
                            <div class="content">
                                <div class="name">행복한 문규노</div>
                                <div class="day"><span>1</span>일 전</div>
                            </div>
                            <div class="info">
                                <div class="introduce">
                                    밥을 먹으면 행복카다. 밥을...
                                </div>
                                <div class="num">
                                    <span>1</span>
                                </div>
                            </div>
                        </div><!--infoWrap-->
                    </div><!--wrap-->
                </div>
            </li>
            <li class="list">
                <a href="#">
                    <span class="icon">
                        <i class="fa-solid fa-user-pen"></i>
                    </span>
                </a>
            </li>
            <li class="list scrollTop" onclick="scrollTop()">
                <span class="icon">
                    <i class="fa-solid fa-arrow-up"></i>
                </span>
            </li>
        </ul>
    </div><!--quickMenu-->
</body>
</html>