<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0.3//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.DOH.DOH.mapper.user.LoginMapper">
    <insert id="userRegister" parameterType="com.DOH.DOH.dto.user.LoginDTO">
        INSERT INTO user_info (
        userEmail, userPassword, role
        ) VALUES (
        #{userEmail}, #{userPassword}, #{role}
        );
    </insert>

    <select id="getUserByUserEmail" resultType="com.DOH.DOH.dto.user.LoginDTO">
        SELECT userNum, userEmail, userPassword, role
        FROM user_info
        WHERE userEmail = #{userEmail};
    </select>
</mapper>