<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0.3//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.DOH.DOH.mapper.user.MyPageProfileMapper">
    <select id="findByUserEmail" resultType="com.DOH.DOH.dto.user.MyPageProfileDTO">
        SELECT id, userEmail, userNickName, profileOneLiner, profileIntroduce, myPageUrl,
               commissionStatus, mittingLocation, messageStart, messageEnd, skillName FROM profile_user_info WHERE userEmail=#{userEmail}
        LIMIT 1
    </select>
    <select id="findIdByUserEmail" resultType="com.DOH.DOH.dto.user.MyPageProfileDTO">
        SELECT id, userEmail, userNickName, profileOneLiner, profileIntroduce, myPageUrl,
               commissionStatus, mittingLocation, messageStart, messageEnd, skillName FROM profile_user_info WHERE id = #{id} AND userEmail=#{userEmail}
        LIMIT 1
    </select>


    <insert id="insert" parameterType="com.DOH.DOH.dto.user.MyPageProfileDTO">
        INSERT INTO profile_user_info(userEmail, userNickName, profileOneLiner, profileIntroduce, myPageUrl,
            commissionStatus, mittingLocation, messageStart, messageEnd, skillName)
        VALUES
            (#{userEmail}, #{userNickName}, #{profileOneLiner}, #{profileIntroduce}, #{myPageUrl},
             #{commissionStatus}, #{mittingLocation}, #{messageStart}, #{messageEnd}, #{skillName})
    </insert>
    <update id="update" parameterType="com.DOH.DOH.dto.user.MyPageProfileDTO">
        UPDATE profile_user_info
        SET
            profileOneLiner = #{profileOneLiner},
            profileIntroduce = #{profileIntroduce},
            myPageUrl = #{myPageUrl},
            commissionStatus = #{commissionStatus},
            mittingLocation = #{mittingLocation},
            messageStart = #{messageStart},
            messageEnd = #{messageEnd},
            skillName = #{skillName}
        WHERE id = #{id} AND userEmail = #{userEmail}
    </update>
    <update id="updateUserNickName">
        <!-- 첫 번째 테이블 업데이트 -->
        UPDATE profile_user_info
        SET userNickName = #{newName}
        WHERE userNickName = #{oldName};
    </update>
    <update id="updateUserInfoNickName">
        <!-- 두 번째 테이블 업데이트 -->
        UPDATE user_info
        SET nickName = #{newName}
        WHERE nickName = #{oldName};
    </update>
</mapper>