<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0.3//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.DOH.DOH.mapper.user.PortFolioUploadMapper">
    <select id="findByUserEmail" parameterType="String" resultType="com.DOH.DOH.dto.user.PortFolioUploadDTO">
        SELECT id, title, userEmail, content, personalWork AS personalFilePath, supportedWork AS supportedFilePath FROM portfolio_upload WHERE userEmail=#{userEmail}
    </select>
    <insert id="insert" parameterType="com.DOH.DOH.dto.user.PortFolioUploadDTO">
        INSERT INTO portfolio_upload(title, userEmail, content,personalWork, supportedWork)
        VALUES(#{title}, #{userEmail}, #{content} ,#{personalFilePath}, #{supportedFilePath})
    </insert>
</mapper>