<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0.3//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.DOH.DOH.mapper.user.RegisterMapper">
    <insert id="userRegister" parameterType="com.DOH.DOH.dto.user.RegisterDTO">
        INSERT INTO user_info (
        userEmail, userPassword, nickName, role
        ) VALUES (
        #{userEmail}, #{userPassword}, #{nickName}, #{role}
        );
    </insert>

    <select id="getUserByUserEmail" resultType="com.DOH.DOH.dto.user.RegisterDTO">
        SELECT userNum, userEmail, userPassword, nickName, role
        FROM user_info
        WHERE userEmail = #{userEmail};
    </select>

    <!-- DB에 이메일 조회 -->
    <select id="checkUserEmail" parameterType="String" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM user_info
        WHERE userEmail = #{userEmail}
    </select>

    <!-- DB에 닉네임 조회 -->
    <select id="checkNickName" parameterType="String" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM user_info
        WHERE nickName = #{nickName}
    </select>

</mapper>