

        /* 콘텐츠와 사이드바를 나란히 배치*/
        .Contestview {
            flex: 1;
            padding: 20px;
            display: flex;
            margin: 0 auto;
        }

        form, .maxw {
            justify-content: space-between; /* 콘텐츠와 사이드바 사이의 여백 */
            width: 950px;
        }

        /* 사이드바 설정 */
        .Contestviewsidebar {
            width: 250px; /* 사이드바의 고정 너비 설정 */
            padding: 20px;
            position: -webkit-sticky; /* For Safari */
            position: sticky;
            top: 20px; /* 스크롤 시 상단에서 얼마나 떨어져 있을지 설정 */
            height: fit-content;
            border: 1px solid #ddd;
            margin-left: 20px; /* 콘텐츠와 사이드바 사이에 여백 추가 */
            border-radius: 5px;
            text-align : center;
        }

.button-group {
    display: flex; /* 플렉스 컨테이너 설정 */
    gap: 10px; /* 버튼 사이 간격 설정 */
    justify-content: flex-start; /* 버튼들을 왼쪽 정렬 */
}

.button {
    display: inline-block;
    width: auto;
    padding: 5px 20px; /* 수정된 패딩 */
    background-color: #212529; /* 기본 배경색을 검정색으로 설정 */
    color: #fff; /* 텍스트 색상을 흰색으로 설정 */
    text-align: center;
    text-decoration: none;
    margin-top: 20px;
    border-radius: 6px; /* 수정된 border-radius */
    transition: background-color 0.3s ease-in-out; /* transform, box-shadow 제거 */
    font-weight: 600;
    cursor: pointer; /* 커서 스타일 추가 */
}

.button:hover {
    text-decoration: none;
    background-color: #333; /* hover 시 배경색 변경 */
    color: white; /* 텍스트 색상을 흰색으로 유지 */
}


        .Contestviewheader {
            margin-bottom: 20px;
        }

        .meta {
            display: flex;
            align-items: center;
            gap: 10px;
            border-bottom: 1px solid #e0e0e0;
        }

        .meta span {
            cursor: pointer;
            padding: 10px 15px;
            color: #888;
            font-weight: bold;
        }

        h1, h2, h3, h4 {
        font-weight: bold;
        }

        .meta span.active {
            color: #000;
            border-bottom: 3px solid #000; /* 선택된 탭 하단에 검은색 강조선 */
        }

        .meta hr {
            margin-top: 10px;
        }

    .w2 {
        color : #212529;
        font-weight : bold;
        text-decoration : none;
    }

    .w2:hover {
        color : #333;
    }

