
        .Contestupload {
            /*width: 1000px;*/
            width: 1100px;
            margin: auto;
            background: white;
            /*padding: 20px;*/
            padding: 30px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        .Contestupload h1 {
            font-size: 1.75em;
            margin-bottom: 50px;
            color: #333;
            display: flex;
            align-items: center;
            font-weight: 700;
        }
        .Contestupload h1::before {
            content: "👉";
            margin-right: 10px;
            font-size: 1.5em;
            color: #f5b000;
        }

        h3
        {
            margin: 40px 0 20px 0;
            font-size: 1.3em;
        }

        label {
            display: block;
            margin: 15px 0 5px;
            font-weight: bold;
        }
        .companytype,
        textarea,
        select {
            width: 100%;
            padding: 10px;
            margin-bottom: 20px;
            border-radius: 4px;
            border: 1px solid #ccc;
            box-sizing: border-box;
        }
        .btn {
            display: block;
            width: 100%;
            padding: 10px;
            background-color: #212529;
            color: white;
            border: none;
            /*border-radius: 4px;*/
            border-radius: 6px;
            cursor: pointer;
            margin-top: 20px;
        }
        .btn:hover {
            /*background-color: rgb(193, 192, 255);*/
            background-color: #333;
            color: white;
        }