

        /* 콘텐츠와 사이드바를 나란히 배치*/
        .Contestview {
            flex: 1;
            padding: 20px;
            display: flex;
            margin: 0 auto;
        }

        form, .maxw {
            justify-content: space-between; /* 콘텐츠와 사이드바 사이의 여백 */
            width: 1100px;
        }

        /* 사이드바 설정 */
        .Contestviewsidebar {
            width: 300px; /* 사이드바의 고정 너비 설정 */
            padding: 20px;
            position: -webkit-sticky; /* For Safari */
            position: sticky;
            top: 20px; /* 스크롤 시 상단에서 얼마나 떨어져 있을지 설정 */
            height: fit-content;
            border: 1px solid #ddd;
            margin-left: 20px; /* 콘텐츠와 사이드바 사이에 여백 추가 */
            border-radius: 5px;
        }

.button {
    display: inline-block;
    width: auto;
    padding: 12px 25px;
    background-color: rgb(193, 192, 255); /* 기본 배경색 */
    color: #212529; /* 텍스트 색상 */
    text-align: center;
    text-decoration: none;
    margin-top: 20px;
    border-radius: 8px;
    transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
    font-weight: 600;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.button:hover {
    text-decoration: none;
    background-color: rgba(193, 192, 255, 0.8); /* hover 시 배경색 변경 */
    transform: translateY(-3px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    color: white; /* hover 시 텍스트 색상을 흰색으로 변경 */
}

        .Contestviewheader {
            margin-bottom: 20px;
        }

        .meta {
            display: flex;
            align-items: center;
            gap: 10px;
            border-bottom: 1px solid #e0e0e0;
        }

        .meta span {
            cursor: pointer;
            padding: 10px 15px;
            color: #888;
            font-weight: bold;
        }

        h1, h2, h3 {
        font-weight: bold;
        }

        .meta span.active {
            color: #000;
            border-bottom: 3px solid #000; /* 선택된 탭 하단에 검은색 강조선 */
        }

        .meta hr {
            margin-top: 10px;
        }
