<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/fragments/layout}">

<head>
    <title>이벤트 상세 페이지</title>
    <link rel="stylesheet" th:href="@{/css/notifications/eventView.css}">
    <script th:src="@{/js/notifications/eventView.js}"></script>
</head>

<th:block layout:fragment="content">
    <form method="get" action="/event/detail" enctype="multipart/form-data" onsubmit="return validateForm();">

    <div class="container mt-5">
        <h1 class="text-center mb-4" th:text="${event.eventTitle}">이벤트 제목</h1>

        <div class="event-image mb-4">
            <img th:src="${event.eventImageName}" alt="이벤트 이미지" class="img-fluid">
        </div>

        <div class="event-details">
            <h2>이벤트 기간</h2>
            <span th:text="'생성일: ' + ${event.formattedCreateTime}"></span><br>
            <span th:text="${event.eventStartDate != null ? event.eventStartDate : 'N/A'}"></span> ~
            <span th:text="${event.eventEndDate != null ? event.eventEndDate : 'N/A'}"></span>

            <h2>이벤트 설명</h2>
            <p th:text="${event.eventContent}">이곳에 이벤트에 대한 자세한 설명을 작성하세요.</p>
        </div>
    </div>
</form>
</th:block>

</html>
