/* 중앙에 정렬된 메인 레이아웃 */
        .mainWrap {
            display: flex;
            justify-content: center;
            padding: 20px;
            background-color: #fff;
        }
        .contestWrap {
            max-width: 1100px;
            width: 100%;
            background-color: #fff;
            border-radius: 10px;
            border: 1px solid #ddd;
            padding: 20px;
        }
        .contestInfo h1 {
            font-size: 1.5rem;
            margin-bottom: 20px;
            color: #333;
            text-align: center;
        }
        .applyDetails p {
            font-size: 1rem;
            margin-bottom: 10px;
            color: #555;
        }
        .applyDetails strong {
            font-weight: bold;
            color: #333;
        }
        .applyContent {
            border: 1px solid #ddd;
            padding: 15px;
            /*background-color: #f9f9f9;*/
            margin-bottom: 20px;
            min-height: 200px;
            border-radius: 5px;
        }
        .applyImage {
            margin-bottom: 20px;
        }
        .applyImage img {
            width: 100%;
           /* border: 1px solid #ddd;
            border-radius: 5px;*/
        }
        .buttonArea {
            display: flex;
            justify-content: flex-end;
        }
        .btn {
            display: inline-block;
            padding: 8px 20px;
            background-color: #000;
            color: #fff;
            text-decoration: none;
            border-radius: 6px;
            font-size: 1rem;
        }
        .btn:hover {
            background-color: #333;
            color: #fff
        }