:root {
    --main-color: #c1c0ff;
    --sub-color: #ECFCE4;
    --color-black: #000;
    --dark-gray: #757575;
    --line-gray: #D9D9D9;
    --color-white: #fff;

    --font-size-32: 32px;
    --font-size-24: 24px;
    --font-size-20: 20px;
    --font-size-16: 16px;
    --font-size-14: 14px;
}

main {
    /*margin-top: 90px;*/
    display: flex;
    justify-content: center;
}

.mainWrap {
    width: 1200px;
}

.swiper {
    width: 1200px;
    height: 464px;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    /*border: solid 1px black;*/
}

.swiper-slide img {
    display: block;
    width: 1200px;
    height: 464px;
    object-fit: cover;
    margin: auto; /* 추가: 이미지를 가운데 정렬 */
}

/* 네비게이션 버튼 커스터마이징 */

.swiper-button-next::after, .swiper-button-prev::after {
    color: black; /* 화살표 색상 */
    font-size: 20px; /* 화살표 크기 조정 (필요 시) */
}

.swiper-button-next, .swiper-button-prev {
    /*color: #757575;  화살표 색상 */
    width: 50px; /* 버튼 너비 */
    height: 50px; /* 버튼 높이 */
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-button-next:hover, .swiper-button-prev:hover {
 color: #757575; /* 화살표 색상 */
}

/* 페이지네이션 기본 스타일 (비활성화된 상태) */
.swiper-pagination-bullet {
    background-color: #757575 !important; /* 기본 회색 */
    opacity: 1 !important; /* 불릿의 불투명도 */
    width: 10px !important; /* 불릿 너비 */
    height: 10px !important; /* 불릿 높이 */
    margin: 0 4px !important; /* 불릿 사이의 간격 */
    border-radius: 50% !important; /* 불릿을 원형으로 */
}

/* 활성화된 불릿 스타일 */
.swiper-pagination-bullet-active {
    background-color: #000000 !important; /* 검정색 */
    width: 12px !important; /* 크기를 조금 더 크게 */
    height: 12px !important;
}

.section {
    /*margin: 60px 0 90px 0;*/
    margin: 60px 0 0;
}

.section .title {
    font-size: var(--font-size-24);
    font-weight: bold;
    margin-bottom: 25px;
}

.cardConWarap {
    display: flex;
    gap: 20px;
    overflow: hidden;
    width: 100%;
    position: relative;
}

.cardConWarap .bar {
    display: flex;
    align-items: center;
}

.fa-solid {
    font-size: var(--font-size-32);
    cursor: pointer;
}

.cardList {
    min-width: 200px;
    margin-right: 10px;
}

.cardList:hover .cardImage {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
}

.cardConWarap .cardImage {
    width: 260px;
    height: 300px;
    border: 1px solid var(--line-gray);
    border-radius: 6px;
    margin-bottom: 10px;
}

a {
    color: var(--color-black);
    text-decoration-line: none;
}

.endDate {
    background: var(--sub-color);
    width: 64px;
    font-size: var(--font-size-14);
    display: flex;
    justify-content: center;
    border-radius: 50px;
    margin-bottom: 8px;
}

.conTitle {
    font-size: var(--font-size-16);
    font-weight: 700;
    margin-bottom: 5px;
}

.conSub {
    display: flex;
    gap: 15px;
    align-items: center;
}

.context {
    font-size: var(--font-size-14);
}

.context.gray {
    color: var(--dark-gray);
}

.conIcon {
    gap: 5px;
}

.section.B {
    border: 1px solid var(--line-gray);
    border-radius: 6px;
    padding: 50px;
}

.tabTitle {
    display: flex;
    justify-content: space-around;
}

.tabTitle .title {
    margin-bottom: 35px;
    color: var(--dark-gray);
    cursor: pointer;
}

.tabTitle .title.active {
    color: var(--color-black);
}

.tabContent {
    display: none;
}

.tabContent.active {
    display: block;
}

.tabContent .list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 87px;
    padding: 30px;
    box-sizing: border-box;
}

.tabContent .list:hover {
    border: 1px solid var(--line-gray);
    border-radius: 6px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
}

.listContent .conTitle {
    font-size: var(--font-size-20);
}

.listValue {
    display: flex;
    gap: 10px;
    align-items: center;
}

.listContent .listValue > * {
    line-height: 10px;
}

.listContent .listValue > *,
.importData .price {
    font-size: var(--font-size-14);
}

.importData .endDate {
    margin-bottom: 0;
}
