<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/fragments/layout}">
<head>
    <link rel="stylesheet" th:href="@{/css/contest/ContestView.css}">
    <script th:src="@{/js/contest/ContestView.js}"></script>
</head>
<th:block layout:fragment="content">
<div class="Contestview">
    <form action="/contest/view" method="post" enctype="multipart/form-data">
        <div class="Contestviewheader">
            <h1><p>제목 : <span th:text="${contestUploadDTO.conTitle}"></span></p></h1>
            <p>회사명 : <span th:text="${contestUploadDTO.conCompanyName}"></span></p>
            <div class="meta">
                <span id="request-tab" onclick="showContent('request')">요청 사항</span>
                <span id="comments-tab" onclick="showContent('comments')">문의 댓글</span>
                <span id="work-tab" onclick="showContent('work')">작품 목록</span>
            </div>
        </div>
        <!-- 요청사항 -->
        <div class="request">
            <div>
                <p>한줄 소개 : <span th:text="${contestUploadDTO.conOneLiner}"></span></p>
                <p>로고명 : <span th:text="${contestUploadDTO.conLogoName}"></span></p>
                <p>브리핑 : <span th:text="${contestUploadDTO.conBriefing}"></span></p>
            </div>
        </div>
        <!-- 문의댓글 -->
        <div class="comments">
            <div>
                <textarea id="comments" placeholder="요청 사항에 관련된 사항을 남길 수 있습니다."></textarea>
                <button type="button">등록</button>
            </div>
        </div>
        <!-- 참여작 -->
        <div class="work">
            <div>
                <p>작품 리스트</p>
            </div>
        </div>
    </form>

    <!-- 사이드바 -->
    <div class="Contestviewsidebar">
        <h2>제목 : <span th:text="${contestUploadDTO.conTitle}"></span></h2>

        <h4>회사명 : <span th:text="${contestUploadDTO.conCompanyName}"></span></h4>

        <h2>총 상금 <span th:text="${contestUploadDTO.conFirstPrice +
                                    contestUploadDTO.conSecondPrice +
                                    contestUploadDTO.conThirdPrice}"></span>만원</h2>

        <p>1등  <span th:text="${contestUploadDTO.conFirstPrice}"></span>만원
            x <span th:text="${contestUploadDTO.conFirstPeople}"></span>명</p>

        <p>2등  <span th:text="${contestUploadDTO.conSecondPrice}"></span>만원
            x <span th:text="${contestUploadDTO.conSecondPeople}"></span>명</p>

        <p>3등  <span th:text="${contestUploadDTO.conThirdPrice}"></span>만원
            x <span th:text="${contestUploadDTO.conThirdPeople}"></span>명</p>
        <hr>

        <h4>진행 기간</h4>
        <span th:text="${#dates.format(contestUploadDTO.conStartDate, 'yyyy/MM/dd')}"></span> ~
        <span th:text="${#dates.format(contestUploadDTO.conEndDate, 'yyyy/MM/dd')}"></span>

        <p>참여작</p>
        <p>조회수</p>
        <a href="#" class="button">콘테스트 목록으로</a>
        <a href="#" class="button">콘테스트 참여하기</a>
    </div>
</div>
</th:block>
</html>
