<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head xmlns:th="http://www.w3.org/1999/xhtml">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/contest/ContestPay2.css">
    <script src="/js/contest/ContestPay2.js"></script>
    <title>Document</title>
</head>
<body>

<div class="Contestview">
    <form action="/contest/payment/submit" method="post" enctype="multipart/form-data">
        <h1>결제 정보를 확인해주세요.</h1>
        <div class="info">
            <h3>의뢰자 정보</h3>
            <p>이메일 <span id="displayEmail" ></span></p>
<!--            문균호 시큐리티 완료 하면 값가져오기-->
<!--            <p>이메일 <span id="displayEmail" th:text="${conCompany}"></span></p>-->
            <p>회사명 <span id="displaycompanyName" th:text="${conCompanyName}"></span></p>

        </div>

        <div class="payment-info">
            <h3>상금 설정</h3>
            <p>상금 <span id="totalPrize" th:text="${totalPrize * 10000}"></span> 원</p>
            <p>서비스 이용료 <span id="serviceFee" th:text="${totalPrize * 2500}"></span> 원</p>
        </div>

        <div class="pay">
            <h3>총 금액</h3>
            <p><span id="totalAmount" th:text="${totalPrize * 2500 + totalPrize * 10000}"></span> 원</p>
        </div>

        <div class="btn-container">
            <a href="javascript:history.back()" class="btn btn-back">이전</a>
            <a href="#" class="btn">결제하기</a>
        </div>
    </form>
</div>

</body>
</html>
