<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--    <script src="/js/contest/Pay.js"></script>-->
    <script src="https://cdn.iamport.kr/v1/iamport.js"></script>
<!--    <script src="https://cdn.portone.io/v2/browser-sdk.js"></script>-->
    <script>

        IMP.init("imp54854523");

        function requestPay() {
            IMP.request_pay({
                pg: 'kakaopay',
                pay_method: "card",
                merchant_uid: `240911-00089`, // 주문 고유 번호
                name: "노르웨이 회전 의자",
                amount: 1000,
<!--                buyer_email: "gildong@gmail.com",-->
<!--                buyer_name: "홍길동",-->
<!--                buyer_tel: "010-4242-4242",-->
<!--                buyer_addr: "서울특별시 강남구 신사동",-->
<!--                buyer_postcode: "01181",-->
            },function (response) {
                if (response.success) {
                    console.log(response);
                } else {
                    console.log(response);
                }
            });
        }
    </script>
</head>
<body>
<div>
    <!--    <form action="/paytest" method="get" enctype="multipart/form-data">-->
    <!--        <button>테스트</button>-->
    <!--    </form>-->
    <button onclick="requestPay()">결제하기</button>
</div>
</body>
</html>
