<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/fragments/layout}">
<head>
    <!-- Iamport 추가 -->
    <script src="https://cdn.iamport.kr/v1/iamport.js"></script>
    <script>

                // 서버 주소 (백엔드 서버의 주소로 설정)
                IMP.init("imp54854523");

                function requestPay() {
                    IMP.request_pay({
                        pg: 'kakaopay',
                        pay_method: "card",
                        merchant_uid: `240911-00113`, // 주문 고유 번호
                        name: "노르웨이 회전 의자",
                        amount: 1000,
                        // buyer_email: "gildong@gmail.com",
                        // buyer_name: "홍길동",
                        // buyer_tel: "010-4242-4242",
                        // buyer_addr: "서울특별시 강남구 신사동",
                        // buyer_postcode: "01181",
                      }, async (response) => {
                        // 결제 성공 여부 확인
                        if (response.error_code != null) {
                            return alert(`결제 실패! 에러 내용: ${response.error_msg}`);
                        }

                        // 결제 성공 시 서버로 결제 정보 전송
                        try {
                            const notified = await fetch(`${SERVER_BASE_URL}/payment/complete`, {
                                method: "POST",
                                headers: { "Content-Type": "application/json" },
                                body: JSON.stringify({
                                    imp_uid: response.imp_uid,       // 아임포트 고유번호
                                    merchant_uid: response.merchant_uid, // 주문 고유 번호
                                })
                            });

                            if (!notified.ok) {
                                const errorResponse = await notified.json();
                                return alert(`결제 정보 전송 중 오류 발생: ${errorResponse.message}`);
                            }

                            alert("결제가 성공적으로 완료되었습니다.");
                        } catch (error) {
                            console.error('결제 정보 전송 중 오류 발생:', error);
                            alert("결제 정보 전송 중 오류가 발생했습니다.");
                        }
                    });
                }
    </script>
</head>
<th:block layout:fragment="content">
<div>
    <button onclick="requestPay()">결제하기</button>
</div>
</th:block>

</html>