<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0.3//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.DOH.DOH.mapper.list.ContestListMapper">

    <select id="getContestList" resultType="com.DOH.DOH.dto.list.ContestListDTO">
        SELECT row_number() over(order by id desc) as rownum, id, conType, conTitle,
                (conFirstPrice * conFirstPeople + conSecondPrice * conSecondPeople
                + conThirdPrice * conThirdPeople) as totalPrice,
                date_format(conEndDate, '%y.%m.%d') as conEndDate,
                (datediff(conEndDate, now())) as endDate, conCompanyName
            FROM contest_Upload
            WHERE datediff(conEndDate, now()) >= 0
<!--        <choose>-->
<!--            <when test="orderType == 'price'">&lt;!&ndash;총 상금 순&ndash;&gt;-->
<!--                order by totalPricee desc-->
<!--            </when>-->
<!--            <when test="orderType == 'latest'">&lt;!&ndash;마감임박순&ndash;&gt;-->
<!--                order by endDate asc-->
<!--            </when>-->
<!--            <when test="orderType == 'hit'">&lt;!&ndash;조회순&ndash;&gt;-->
<!--                order by conHit desc-->
<!--            </when>-->
<!--            <otherwise>&lt;!&ndash;기본 값 : 최신순&ndash;&gt;-->
<!--                order by rownum asc-->
<!--            </otherwise>-->
<!--        </choose>-->
            limit #{offset} , #{pageSize}
    </select>

    <select id="getTotalCount" resultType="int">
        select count(*) from contest_Upload where datediff(conEndDate, now()) >= 0
    </select>

    <insert id="saveContest" parameterType="com.DOH.DOH.dto.list.ApplyDTO">
        insert into apply_contest(userEmail,applyTitle,applyContent,imageUrl ) values(#{userEmail}, #{applyTitle}, #{applyContent},#{imageUrl})
    </insert>


    <update id="hitUp">
        update contest_Upload set conHit = ifnull(conHit, 0) +1 where id = #{contestId}
    </update>
</mapper>