<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0.3//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.DOH.DOH.mapper.list.ContestListMapper">

    <select id="getContestList" resultType="com.DOH.DOH.dto.list.ContestListDTO">
        SELECT row_number() over(order by id desc) as rownum, id, conType, conTitle,
                (conFirstPrice * conFirstPeople + conSecondPrice * conSecondPeople
                + conThirdPrice * conThirdPeople) as totalPrice,conHit,
                date_format(conEndDate, '%y.%m.%d') as conEndDate,
                (datediff(conEndDate, now())) as endDate, conCompanyName
            FROM contest_Upload
            WHERE datediff(conEndDate, now()) >= 0
            AND isFinished = 0  <!-- isFinished = 0 조건 추가 -->
        <choose>
            <when test="orderType == 'price'"><!--총 상금 순-->
                order by totalPrice desc
            </when>
            <when test="orderType == 'latest'"><!--마감임박순-->
                order by endDate asc
            </when>
            <when test="orderType == 'hit'"><!--조회순-->
                order by conHit desc
            </when>
            <otherwise><!--기본 값 : 최신순-->
                order by rownum asc
            </otherwise>
        </choose>
            limit #{offset} , #{pageSize}
    </select>

    <select id="getTotalCount" resultType="int">
        select count(*) from contest_Upload where datediff(conEndDate, now()) >= 0
    </select>

    <insert id="saveContest" parameterType="com.DOH.DOH.dto.list.ApplyDTO">
        insert into apply_contest(userEmail,applyTitle,applyContent,imageUrl ) values(#{userEmail}, #{applyTitle}, #{applyContent},#{imageUrl})
    </insert>

<!--    조회수 증가-->
    <update id="hitUp">
        update contest_Upload set conHit = ifnull(conHit, 0) +1 where id = #{contestId}
    </update>

<!--    기존 관심 공모전 목록 정보를 가져옴-->
    <select id="getScrapList" resultType="int">
        select conNum from scrap_contest where userEmail = "${userEmail}"
    </select>

<!--    관심 공모전 등록 여부 확인-->
    <select id="searchScrap" resultType="int">
        select count(*) from scrap_contest where userEmail = "${userEmail}"
                and conNum = ${contestId}
    </select>
    <select id="getApplicationList" parameterType="String" resultType="com.DOH.DOH.dto.list.ApplyDTO">
        SELECT * FROM DOH.apply_contest where userEmail = #{userEmail};
    </select>

    <!--    관심 공모전 등록-->
    <insert id="addScrap">
        insert into scrap_contest(userEmail, conNum) values("${userEmail}", ${contestId})
    </insert>

<!--    관심 공모전 삭제-->
    <delete id="deleteScrap">
        delete from scrap_contest where userEmail = "${userEmail}" and conNum = ${contestId}
    </delete>
</mapper>